[2012-12-13 03:59] microp11 opened #1 "Cursor displaying the computed speed as you drag point"
Instead of having to click a point and right-click on the line/curve to select speed, have the cursor display the computed speed as you drag the current point. Would help tremendously in setting the next point.

[2012-12-13 04:09] microp11 opened #2 "Option for default drawing: lines or (smart) curves"
Have an option to draw curves by default instead of lines.

In case of curves, would be nice to have the software calculate the transition at nodes between curves. A minimum transition would suffice. Just to make the transition look smooth without affecting too much the slope. The user could pick them up at that point and set them for its own purposes.

[2012-12-24 09:39] adiibanez opened #4 "ffmpeg cmake"
building against git ffmpeg on osx ( 10.7.5 ) fails

output of cmake & make -j3
http://pastebin.com/LZcKtN8M

Some reports from other projects I found on very similar topic:

http://forum.openscenegraph.org/viewtopic.php?t=11190
https://github.com/johmathe/Shotdetect/issues/1

[2013-03-05 19:10] nephilim1973 opened #8 "How to compile SlowmoVideo GIT on Ubuntu 12.04"
Hi, I have found some issues while compiling the latest version on my Ubuntu 12.04 64.Bit

Here is how it works:

1) First you have to add "libopencv-dev" and "libopencv-gpu-dev" to the package list:

sudo apt-get install build-essential cmake git ffmpeg libavformat-dev libavcodec-dev libswscale-dev libqt4-dev freeglut3-dev libglew1.5-dev libsdl1.2-dev libjpeg-dev libopencv-video-dev libopencv-hig

[2013-09-08 19:28] simonbuehler opened #10 "-mtune=corei7 breaks on amd"
hi,

emerged it from git on gentoo and the `error: bad value (corei7) for -mtune=` broke compilation

[2013-09-11 08:36] #10 closed, assigned to Granjow

[2014-05-09 17:08] adareau opened #13 "Problem compiling on ubuntu 14.04"
Hi,

I have been trying to compile slowmoVideo on ubuntu 14.04, but when I run "make -j3" I got this error message :

[ 21%] Built target slowmoFlowBuilder
../lib/libsVencode.a(ffmpegEncode_sV.c.o): dans la fonction « prepareDefault »:
ffmpegEncode_sV.c:(.text+0x26f): référence indéfinie vers « avformat_alloc_output_context2 »
ffmpegEncode_sV.c:(.text+0x659): référence indéfinie vers « avformat_al

[2014-05-09 18:00] #13 closed, assigned to nobody

[2014-06-02 09:41] pongraczi opened #14 "Segfault on Linuxmint 16 64 bit at rendering"
Hi,
I have a lot of images about time lapse cloud moving.
I imported them and created a curve as shown in the documentation.
Unfortunately segfault happened. Here is the log:

Arguments:  ("/home/fit/SlowMo/clouds/images/INNO_20140529_154620.JPG", "/home/fit/SlowMo/clouds/images/INNO_20140529_154630.JPG", "/home/fit/SlowMo/cache/oFlowOrig/forward-lambda20.00_130-131.sVflow", "20", "100")
Optical f

[2014-06-02 09:46] pongraczi opened #15 "Cannot open saved project file - after rendering segfaulted"
I tried to open the saved project file, but I got ASSERT error:
slowmoUI
("slowmoUI")
Adding  "Input monitor"  to the menu's widget list
Adding  "Curve monitor"  to the menu's widget list
Adding  "Render preview"  to the menu's widget list
Adding unique key  "h"
Adding unique key  "q"
Adding unique key  "n"
Adding unique key  "o"
Adding unique key  "s"
Adding unique key  "a"
Adding unique key  "d"

[2014-06-13 04:04] Philippe-M opened #16 "Compile on Fedora 20"
When go to make -j3 i've this error

[code]

[2014-06-13 12:23] #14 closed, assigned to nobody

[2014-06-13 12:24] #4 closed, assigned to nobody

[2014-06-15 05:38] #16 closed, assigned to nobody

[2014-07-08 02:09] tektektek opened #18 "Error compiling on Debian Jessie"
I followed the instructions on the download page, and noticed that the `ffmpeg` package wasn't found, because of Debian's move to libav. All others were installed.

When running `make -j3`, it fails with the following output:

[code]

I'd love to try this program out and compiling seems to be my only option on Debian... any ideas?

[2014-07-12 08:14] #18 closed, assigned to nobody

[2014-07-29 14:53] Neon-kernel opened #19 "Not really an issue... but usefull things about SlowMoVideo on Mac OSX"
Hi,
Just to say that there is an another way to make this working on OSX. You can use the Wineskin Bottler (it's like Winebottler), it's free unlike CrossOver and more flexible than Winebottler.
If you want, I can give you a pre-packaged application in order to add it to your website.
Thanks for making this wonderful software.
Sincerely,
AlexRider38

[2014-08-06 15:51] phiresky opened #20 "MKV Movies cannot be opened"
When trying to open a movie, the frame count is negative (int overflow?) and the Ok button is disabled.
![2014-08-06-17-51-09](https://cloud.githubusercontent.com/assets/2303841/3829530/86ce0c92-1d81-11e4-9cd5-432d60936a88.png)

[2014-08-12 17:05] ghost opened #21 "Is your program works?"
Well... I am looking for program, which can increase video fps (adding interpolated frames) under linux. So, i finally found your project. But it didnt work.

First of all, i wanna say, that i cant find needed packages in PPA repository - i have Linux mint 17 (which is based on ubuntu 14.04 Trusy), and existed packeges are available only for <= 13.10.
When i tried to install package for Ubuntu 13.

[2014-08-14 11:58] #21 closed, assigned to nobody

[2014-08-17 21:28] brousselle opened #22 "does gpu flowbuilder works on jessie ?"
Hello All,

thanks valgit :D for that work.
I am also running jessie, and it compiled smoothly.
but still the gpu flowbuilder does not work:

I have installed the nvidia-cg-toolkit which is a pre-requisite if i
remember well

when compiling i have this:
======================V3D============================
- (info) Installation prefix: /tmp.
       (Can be adjusted with -DCMAKE_INSTALL_PREFIX=your

[2014-09-08 14:30] #22 closed, assigned to nobody

[2014-10-31 05:51] #20 closed, assigned to nobody

[2014-11-25 09:12] Nemem9aa opened #23 "make install fails"
Hi,
I`m compiling slowmovideo from source and it fails during make install with: Error copying file "libopencv_ocl.so.2.4" to "/usr/local/libopencv_ocl.so.2.4".

Complete [install log](https://drive.google.com/file/d/0B6H6pq-lIAWvNXZhcURHTE9OaHM/view?usp=sharing).

More information:

I am using current valgit`s git. (Issues with libav on regular one)

cmake -D ENABLE_TESTS=OFF -D OpenCV_DIR=/home/

[2014-12-05 07:11] #23 closed, assigned to nobody

[2014-12-05 07:11] #19 closed, assigned to nobody

[2015-01-09 20:10] dim162 opened #24 "SlmV & Ubuntu 14.10 compilation succeed but"
SlmV & Ubuntu 14.10 studio compilation succeeded but when i launch the smUI, i don't have the gpu,v3d flow method & when i choose the smFlowBuilder... it don't keep it.
I use the ppa:djcj/vlc-stable & opencl is working (i use & compile darktable, blender).

[2015-01-10 22:13] valgit commented on #24
Hi, can you verify that you have the flowBuilder binary ? the compilation need to have glut and  glew to succeed and a little bit old X11 openGL ;-). It does not use OpenCL at all.
maybe post your logs ?

[2015-01-11 00:46] dim162 commented on #24
Of course! the flowBuilder binary exist & it is not empty.
The compilation logs:

dim@desktop:~/Desktop/slowmoVideo/build$ cmake ../src
-- checking: avformat.h
--           /usr/include/libavformat
-- checking: avcodec.h
--           /usr/include/libavcodec
-- checking: avutil.h
--           /usr/include/libavutil
-- checking: swscale.h
--           /usr/include/libswscale
-- FFMPEG libraries are

[2015-01-11 10:48] valgit commented on #24
from what I see, it seem there is a problem with the program output, can you check :
* where is your slowmoFlowBuilder
* output of slowmoFlowBuilder -v ?

[2015-01-11 18:05] dim162 commented on #24
In /usr/local/bin/.

slowmoFlowBuilder -v:
dim@desktop:~/Desktop$ /usr/local/bin/slowmoFlowBuilder -v
Inconsistency detected by ld.so: dl-version.c: 224: _dl_check_map_versions: Assertion `needed != ((void *)0)' failed!

[2015-01-12 14:37] valgit commented on #24
Well, I think you are on the bug "library inconsistencies" (here : https://bugs.launchpad.net/ubuntu/+source/nvidia-graphics-drivers-319/+bug/1248642 and here : http://ubuntuforums.org/showthread.php?t=2247911). But I can't help you more, as I have no NVIDIA card on my ubuntu server.

[2015-01-15 22:01] dim162 commented on #24
Thank you

[2015-01-16 08:15] #24 closed

[2015-01-16 08:15] #8 closed

[2015-01-16 09:10] nephilim1973 commented on #8
Hi Simon.
Sorry for not replying :-(
Of course I could do the job.
If you like, you could grant my access rights for the page and send me a short mail after.

Regards
Nephilim

[2015-02-13 18:38] fulldecent opened #27 "Mac build errors"
I am building with Mac using:

    brew install cmake glew ffmpeg zlib yasm qt4 x264
    cmake ../slowmoVideo/src -DCMAKE_INSTALL_PREFIX=/Users/val/Applications/slowmoVideo -DQTDIR=/Users/val/Documents/Sources/qt4 -DQT_MAKE_EXECUTABLE=/Users/val/Documents/Sources/qt4/bin/qmake -DOpenCV_DIR=/Users/val/Documents/Sources/opencv/share/OpenCV -DGLEW_INCLUDE_DIR=/Users/val/Documents/Sources/slowlib/incl

[2015-02-13 18:56] valgit commented on #27
Well, it seems you have not install OpenCV or you give the wrong path to env/cmake for it ! In your cake command you should change my own path by yours ;-)

[2015-02-13 19:08] fulldecent commented on #27
Ah, sorry I was expecting `#include <...>` for library paths... I'm looking into it now

[2015-02-13 21:09] fulldecent commented on #27
Attempt 2. Here is the install process I am using:

''''
brew install cmake glew ffmpeg zlib yasm qt4 x264 homebrew/science/opencv

cmake ../slowmoVideo/src -DCMAKE_INSTALL_PREFIX=/Users/val/Applications/slowmoVideo -DQTDIR=/Users/val/Documents/Sources/qt4 -DQT_MAKE_EXECUTABLE=/Users/val/Documents/Sources/qt4/bin/qmake -DOpenCV_DIR=/Users/val/Documents/Sources/opencv/share/OpenCV -DGLEW_INCLUDE_DI

[2015-02-13 21:10] fulldecent commented on #27
And here are some patching that are helping compile:

[code]

[2015-02-14 09:27] valgit commented on #27
you should add a ‘-DENABLE_TESTS=OFF‘ to your cake command and also a ‘-D USE_QTKIT=ON‘ to have quicktime included on OSX.
normally the ‘#import <QTKit/QTKit.h>‘ is in qtkit.h so I didn't understand your patch !
hope this help.

[2015-02-18 13:26] #27 closed

[2015-02-19 13:08] #15 closed

[2015-03-10 17:04] Findus23 opened #28 ""fixup_bundle: not a valid bundle" on Debian Jessie"
I tried to compile slowmoVideo on Debian Jessie. At first make complained about something, but after changing the line to
`cmake ../src -DUSE_QTKIT=FALSE -DENABLE_TESTS=FALSE`
(as suggested in #18 ) it worked.
But my problem is that `sudo make install` aborts with the following error:
[code]

The whole log can be found here: https://gist.github.com/Findus23/07749ceb30041733dbc9

What am I missing?

[2015-03-11 08:30] valgit commented on #28
I will look at how you can install it ! for now as far as I know the problem is that there is no working equivalent for DeployQT4 in QT5 !!!

[2015-03-11 10:08] valgit commented on #28
Hi,

I have commit an update for the installed part. can you check if it work for you ?

thanks

[2015-03-11 15:22] Findus23 commented on #28
Thanks for the help.
It seems to install

But there is still a problem. There is no `slowmoUI` in `/usr/local/bin/`
[code]
Maybe there is something useful in the log: https://gist.github.com/Findus23/07749ceb30041733dbc9

[2015-03-11 15:33] valgit commented on #28
from your log, it seems to be installed in
-- executable file 4: /usr/local/slowmoUI
-- executable file 5: /usr/local/slowmoFlowEdit
!!!
well, maybe I missed another parameter in install part !
can you check that ?

[2015-03-11 15:39] Findus23 commented on #28
Okay, that was my mistake, it's there and working.

One final question: Is it normal that only the cpu Flow Method is working. (I have a Nvidia graphic card; There is nothing to select in both dropdown menus)

![bildschirmfoto vom 2015-03-11 16 37 07](https://cloud.githubusercontent.com/assets/6266037/6599964/e8ccb124-c80c-11e4-80fe-bf36b1514092.png)

[2015-03-11 15:54] valgit commented on #28
from your log, I see that flowBuilder as been built (in /usr/local/bin/slowmoFlowBuilder), you should try to set the path in the "binary locations"

[2015-03-11 16:50] Findus23 commented on #28
Unfortunately it stays red (no matter if I type the path or browse it)
and when I press Ok and reopen the settings everything is like before.
![bildschirmfoto vom 2015-03-11 16 57 49](https://cloud.githubusercontent.com/assets/6266037/6601644/1cbc71e0-c817-11e4-96f0-981a5b80fcb3.png)

[2015-03-11 17:26] valgit commented on #28
Can you give the output of "/usr/local/bin/slowmoFlowBuilder -v" ?

[2015-03-11 17:29] Findus23 commented on #28
That explains why it's not working:
It's the same as `slowmoFlowBuilder`: "Speicherzugriffsfehler" (segmentation fault)
I'm running 64 bit.
[code]

[2015-03-11 17:48] valgit commented on #28
well, not sure about the 64 bit  reason, more probably as in my config a conflict between old GLSL code (openGL 2.0 with propriatary extensions)  and new openGL 3.x.  But I am not sufficiently fluent with OpenGL/GLSL to find what need to be update, as the flow builder code is "way too old" ;-)
maybe you could try to install OpenCL driver and compile OpenCV with it, and see if the OpenCV-OpenCL irk

[2015-03-11 18:09] Findus23 commented on #28
I think I am not able to do so. I am just a normal Linux-User and I have no Idea about OpenCV.
But as long as slowmoVideo is working my problem is solved.
Thanks for helping.

[2015-03-13 14:21] #28 closed

[2015-03-13 20:20] GoGoGoPro opened #30 "Download link for slowmoVideo missing!"
Hello,

where is the download link of this software?
I can't find it anywhere!

Thanks.

[2015-03-13 20:22] lyra833 commented on #30
What OS are you using?

[2015-03-13 20:23] GoGoGoPro commented on #30
Windows 7

[2015-03-13 20:25] GoGoGoPro commented on #30
There is no exe file in there: https://github.com/slowmoVideo/slowmoVideo/releases

(see version 0.4)

[2015-03-13 20:28] lyra833 commented on #30
Someone please correct me if I'm wrong, but I think the most recent Windows binary we have is [Version 3.1](http://slowmovideo.granjow.net/builds/slowmoVideo_0.3.1+d356d79_win32.zip). I'll see if I can compile and add some binaries to the repo this week.

[2015-03-13 20:30] GoGoGoPro commented on #30
Do you mean that you can compile version 0.4?

This would be great! THANK YOU IN ADVANCE!

[2015-03-13 20:30] lyra833 commented on #30
I'm off from school this week, so I should have some time to give it a shot.

[2015-03-13 20:34] GoGoGoPro commented on #30
This would be great! Thank you so much! Please just comment again here that I know if you have updated the version! Thanks ;-)

[2015-03-14 06:54] valgit commented on #30
for those who are looking for binaries you can find them here :
for windows 64 bits : http://www.mediafire.com/download/23tbebr8aqy1bxc/slomovideo.7z
for osx : http://www.mediafire.com/download/cbwf4y8q7fm33j0/slowmoVideo_osx.zip
they are tag "0.3" but are really "0.4" as the tag as been set just after the compilation !

[2015-03-14 10:30] GoGoGoPro commented on #30
Sorry, but I can't open this link.
Can you please send me the file (Windows 64 bits) directly to this address: gogogopro@outlook.com
Thank you very much in advance!

[2015-03-14 20:41] valgit commented on #30
can you try with this other link : http://dl.free.fr/mWRDz2jZ8

[2015-03-16 20:47] GoGoGoPro commented on #30
Thank you! Fantastic! It works!

[2015-03-16 21:42] #30 closed

[2015-03-21 04:54] kuboosoft opened #31 "The about option doesn't display the correct version"
Hi, I have been compiling slowmoVideo from your git repository, but the "About" only displays the version "0.3.1". I Checked the current version is 0.4.

[2015-03-21 05:36] kuboosoft opened #32 "Change path of gpumat.hpp"
Now Fedora Linux, Opencv (opencv-devel) isn't include /usr/include/opencv2/gpu/gpumat.hpp , the correct path is /usr/include/opencv2/core/gpumat.hpp"
I made a symlink and compiled fine, but isn't correct.

[2015-03-21 07:01] valgit commented on #31
Well, I've forgot to push/update tag, it should be up to date now !
thanks

[2015-03-21 07:01] #31 closed

[2015-03-21 07:46] Granjow commented on #32
Is maybe the CMake cache outdated? Does it work with a fresh build directory?

[2015-03-21 07:57] kuboosoft commented on #32
Yes is a fresh build; I made a rpm of slowmoVideo the last year, I will update to version 0.4, I use mock. With mock I can find all lost dependencies and work a virgen chroot.

About mock: http://fedoraproject.org/wiki/Projects/Mock

[2015-03-21 08:04] kuboosoft commented on #31
Thanks! :+1:

[2015-03-21 10:27] valgit commented on #32
what is your version of opencv ?

[2015-03-21 15:17] kuboosoft commented on #32
@valgit opencv-2.4.9-3

[2015-03-23 12:08] #32 closed

[2015-03-23 12:09] valgit commented on #32
I've check my ubuntu the /usr/include/opencv2/gpu/gpumat.hpp only include /usr/include/opencv2/core/gpumat.hpp !!

[2015-03-23 21:11] battlesnake commented on #2
A quadratic or cubic Bézier curve would handle this.  The flow chart could use chains of cubic bezier curves as the data format, since for cubic bezier:
 * we can control the aggressiveness of the curving at the start and end independently
 * quadratic bezier can be represented given a certain constraint
 * straight line can be represented given a certain constraint

[2015-04-08 11:41] gmyny opened #34 "problems building slowmo on debian testing"
I'm trying to build slowmoVideo on Debian testing. I installed all dependencies. Cmake gives the following output:
[code]

The problems start when building via make:

[code]

It looks like neither USE_QTKIT nor USE_FFMPEG are set here, so the variable "driver" in slowmoVideo/lib/video_enc.cpp is never defined. I modified the apropriate file to:

modified slowmoVideo/lib/video_enc.cpp:
[code]
With

[2015-04-08 12:08] valgit commented on #34
as tell in #18  and #28 , have you use `cmake ../src -DUSE_QTKIT=FALSE -DENABLE_TESTS=FALSE` under debian ?
as QT_KIT is only usefull under OSX.
now you also seems to have use QT4 and not QT5, maybe some errors come from that. but there is to many errors in your log to be sure ;-)

[2015-04-09 09:03] hahn commented on #32
got error like this.
in project/flowSourceOpenCV_sV.cpp still use path gpu

[2015-04-09 09:21] hahn opened #35 "prepareDefault not defined"
Hi
I trying compile on fedora 21. After type make i got this error.
[code]
how to fix this error?
thanks :)

full make output: https://gist.github.com/hahn/21a2351ac709c1d5d6f5

[2015-04-09 09:32] hahn commented on #35
ok. my bad
cmake -DUSE_QTKIT=FALSE  -DENABLE_TESTS=FALSE

[2015-04-09 09:32] #35 closed

[2015-04-09 09:54] gmyny commented on #34
Sorry for the noise and thanks for pointing me in the right direction - that was very much solvable :-/.

With -DUSE_QTKIT=FALSE and qt5 (apt-get install qt5-default qtscript5-dev) it worked like a charm.

The only issue is that slowmoUI and slowmoFlowEdit ended up in /usr/local instead of /usr/local/bin, which is usually not in PATH in debian!?!

[2015-04-09 11:36] valgit commented on #34
yes I have seen the PATH problem already, it's a cmake install bug, but I can't understand why ! it works ok in OSX but not in debian ;-) (I can make the reverse but not both ;-)

[2015-04-09 12:32] gmyny commented on #34
okay, not a big deal :).

Thanks a lot for the help and this piece of software! Looking forward to playing around with it :).

[2015-04-09 12:32] #34 closed

[2015-05-08 18:56] Keeo opened #36 "Missing opencv2/ocl/ocl.hpp"
During *make* I got stuck at opencv dependency. I looked into opencv folder and found *ocl.hpp* file in core folder. But changing path yield in wrong namespace.
[code]

*Mint with opencv2 installed firstly from apt-get and later build from source.*

[2015-05-13 17:00] valgit commented on #36
I think those headers have moved to "core", I will check.

[2015-05-18 23:33] sobotka opened #37 "Core Dumped"
[code]

[2015-05-19 06:04] valgit commented on #37
Can you provide more information to reproduce the bug ?
for eg: input resolution, number of frame, platform, how you build it .... whatever can be useful !

[2015-05-20 07:19] valgit commented on #36
After check, it seems that : you didn't install the opencv-ocl package or you did not compile your opencv with OCL activated.

[2015-05-20 07:19] #36 closed

[2015-05-20 20:39] JavaJens opened #38 "ppa:jon-severinsson/ffmpeg deleted"
It seems as if the required ffmpeg PPA got removed

    # add-apt-repository ppa:jon-severinsson/ffmpeg
        Cannot add PPA: 'ppa:jon-severinsson/ffmpeg'.
        Please check that the PPA name or format is correct.

However using the PPA from the official FFMPEG site worked just fine, maybe you can update the wiki.

[2015-06-07 12:04] forthrin opened #39 "Qt-related compile error on OS X"
When I run "make" on OS X, I get compile errors which seems related to Qt.

Linking CXX executable slowmoUI.app/Contents/MacOS/slowmoUI
Undefined symbols for architecture x86_64:
  "_CGColorSpaceCreateWithName", referenced from:
      qt_mac_image_to_cgimage(QImage const&) in libsVencode.a(qtkit.mm.o)

There were a dozen similar other ones too. Please help.

[2015-06-07 16:45] valgit commented on #39
what was your cmake command ? you seems to be missing some OSX parts...

[2015-06-07 18:44] forthrin commented on #39
I installed all the dependencies using Homebrew. Running `cmake ../slowmoVideo/src` finds all the required libraries and say's it ready to build, even without adding the `-D` flags (which seem to point to the author's personal home directory anyway). Both Qt4 and Qt5 give the same compile error. If you want the full output from the make process, please send me your email address.

[2015-06-07 20:09] sobotka opened #40 "Core Dumped on Bad Frame Rate"
When changing the display frame rate via Preferences, if a small fraction is entered the app will Abort. Example such as 24/1001.

    ASSERT: "false" in file /Develop/Sources/slowmoVideo/src/slowmoVideo/project/nodeList_sV.cpp,
    line 100
    Aborted (core dumped)

[2015-06-07 20:35] sobotka commented on #37
Let me know when done so I can remove it.

https://s3.amazonaws.com/bug-attachments/slow2.tar.gz

[2015-06-08 07:03] valgit commented on #39
seems you are missing some OSX framework. can you rerun with : cmake ../slowmoVideo/src -DUSE-QTKIT=true to be sure that all Quicktime & co are added ?

[2015-06-08 08:43] forthrin commented on #39
Oh... I assumed Qt was related to Trolltech, but evidently it's
QuickTime. Honest mistake!

cmake ../slowmoVideo/src -DUSE-QTKIT=true
CMake Warning:
  Manually-specified variables were not used by the project:
    USE-QTKIT

make
[ 37%] Built target slowmoVideoInfo
Linking CXX executable slowmoUI.app/Contents/MacOS/slowmoUI
Undefined symbols for architecture x86_64:
  "_CGColorSpaceCreateWithName"

[2015-06-08 09:55] valgit commented on #39
well, I made myself a mistake it's USE_QTKIT with an underscore !! Normally including Quicktime should suffice to have AppKit included by dependancies, let see.

[2015-06-08 11:27] forthrin commented on #39
Yes, cmake now seems to accept the QTKIT option. It still gives some
warnings, but don't know if they're relevant:

CMake Warning (dev) at V3D/Config/v3d_macros.cmake:36 (add_dependencies):
  Policy CMP0046 is not set: Error on non-existent dependency in
  add_dependencies.  Run "cmake --help-policy CMP0046" for policy details.
  Use the cmake_policy command to set the policy and suppress this war

[2015-06-08 12:12] valgit commented on #39
well, I've check my build dir, I've got -framework Cocoa -framework QTKit -framework QuartzCore -framework AppKit -framework OpenCL set but I can't find where sit comes from ! I was thinking they where set by Quicktime rules in FindQTKit.cmake.
* maybe you can run your cmake in verbose mode just to see ?
*  in cmakelist.txt there are lines (around line 198)  with EXTERNAL_LIBS...., can you add the

[2015-06-08 15:30] valgit commented on #40
are you sure about the message ?
because around line 100 I'v got :
  qDebug() << "No node before " << targetTime;
        Q_ASSERT(false);
        if (m_list.size() > 0) {
            srcTime = m_list[0].y();
        }

so you should have some previous messages which would be useful !

[2015-06-08 15:34] valgit commented on #37
Hi,
thanks, I've got it, I will try to find some time to look at the problem ASAP.

[2015-06-10 06:45] forthrin commented on #39
github does not support uploading of text files. Do you have an email address I can send the compile log to?

[2015-06-10 14:24] valgit commented on #39
maybe you can paste the last lines ? or paste bin ?

[2015-06-10 14:24] #39 closed

[2015-06-12 07:46] forthrin commented on #39
http://pastebin.com/StPcbQdW (valid for 24 hours)

On 10/06/2015, valgit <notifications@github.com> wrote:

[2015-06-12 11:30] valgit commented on #39
Hi,
I look at your log, how did you compile OpenCv, it seems that you did not include Cocoa and quicktime ?
in the mean time for testing, can you add : `set(ADDITIONAL_LIBS "-framework AppKit")` around line 170 of `src/CMakeLists.txt` ?
like :
[code]

[2015-06-14 16:39] forthrin commented on #39
Followed your suggestion and this is what happened:

[ 55%] Building CXX object
slowmoVideo/slowmoUI/CMakeFiles/slowmoUI.dir/moc_macnotificationhandler.cpp.o
Linking CXX executable slowmoUI.app/Contents/MacOS/slowmoUI
Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_QTMovie", referenced from:
      objc-class-ref in libsVencode.a(qtkit.mm.o)
  "_QTAddImageCodecQuality", referenced from:

[2015-06-14 18:32] valgit commented on #39
well, very strange ! what's your OSX and xcode version ?
you now seems to be missing Quicktime !
maybe use framework Cocoa -framework QTKit -framework QuartzCore -framework AppKit -framework OpenCL instead of only -framework AppKit ?

[2015-06-14 18:47] forthrin commented on #39
I got further, but another error occurs:

[ 83%] Building CXX object
slowmoVideo/test/CMakeFiles/encodeFramesTest.dir/ffmpegTestEncodeFrames.cpp.o
Linking CXX executable encodeFramesTest
Undefined symbols for architecture x86_64:
  "_eatARGB", referenced from:
      _main in ffmpegTestEncodeFrames.cpp.o
  "_eatSample", referenced from:
      _main in ffmpegTestEncodeFrames.cpp.o
  "_finish", refer

[2015-06-15 09:07] valgit commented on #39
Hi, I'am glad to see that this "patch" is working ! I will try to validate it.
for the other part, as said in some previous issues, you should add `-DENABLE_TESTS=FALSE` to the cmake command, as all the "testing" code as not been update for now.

[2015-06-15 10:10] forthrin commented on #39
I'm happy to inform you that the compilation process is now complete!
You should update your project accordingly. I look forward to trying
the tool and hope it will work out of the box :)

Added to src/CMakeLists.txt:
set(ADDITIONAL_LIBS "-framework Cocoa -framework QTKit -framework
QuartzCore -framework AppKit -framework OpenCL")

Compile command:
cmake ../slowmoVideo/src -DUSE_QTKIT=true -DENABL

[2015-06-17 07:34] valgit commented on #40
this should be ok by 14ceb08 commit

[2015-06-17 07:34] #40 closed

[2015-06-20 02:14] ReubenM opened #41 "opencv can mix qt5/qt4"
I have a system with both qt4 and qt5 installed, and I've spent the last hour pulling what remains of my hair out trying to figure out why the build wasn't working. Actually it works just fine. It builds without any problems and immediately segfaults when starting it up. Gdb revealed it was segfaulting in a qt4 library. Which was odd because I had checked and dug through every build file trying to

[2015-06-23 13:11] valgit commented on #37
Hi, I've tried to test your project, but I missed your movie !  So, I try to bypass modifiing your project as a timelapse. But in this case the rendering went well ;-)
so :
* did you use the last OpenCV version ?
* can you share the input movie ?

[2015-06-24 06:40] forresthopkinsa opened #42 "Undefined reference to symbol 'XCreateWindow'"
When trying to make, I get this error:

[code]

I'm running Ubuntu 14.04. I used cmake with the following flags in order to prevent the other errors I was getting before:
`cmake -DUSE_QTKIT=FALSE -DENABLE_TESTS=FALSE ../src`

I've been debugging this for days, and I keep making progress, but this most recent error has been a real stumbling block.

[2015-06-24 09:05] valgit commented on #42
Did you installed X11 developpment libraries ?
can you paste log of make in "verbose mode" ?

[2015-07-08 00:50] ss32 opened #43 "Segfault when rendering"
I successfully rendered a series of small images, but ran into a segfault when trying to render a larger image.  This happens when trying to render either the full resolution or a preview.

threading info :  4
("slowmoUI")
Adding  "Input monitor"  to the menu's widget list
Adding  "Curve monitor"  to the menu's widget list
Adding  "Render preview"  to the menu's widget list
Adding unique key  "h"

[2015-07-08 01:21] ss32 commented on #43
I also get an error when trying to manually interpolate the images

slowmoInterpolate forward 00000.jpg 0000001.jpg
Arg: forward
Running forward flow.
Arg: 00000.jpg
Arg: 0000001.jpg
terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc
Aborted

[2015-07-09 15:10] valgit commented on #43
Hi,
can you "force" the use of software optical flow instead of OpenCL driver ?

[2015-07-09 15:11] ss32 commented on #43
How do I go about doing that?

[2015-07-09 18:34] valgit commented on #43
You can check your slowmovideo preferences !

[2015-07-09 18:58] ss32 commented on #43
easy enough, I will check and let you know

[2015-07-10 23:18] ss32 commented on #43
I tried changing to CPU opencv and openCL on my GPU but both resulted in the same error.

[2015-07-11 05:08] valgit commented on #43
could you run it under gdb, and post the back trace result when set fault occur ?

[2015-07-13 15:45] valgit opened #44 "slowmovideo should create the project directory"
In case of project directory is missing, slowmovideo should create it.
it would be a better comportement

[2015-07-15 03:02] enetheru opened #45 "What open source licence is this under?"

[2015-07-15 03:32] enetheru commented on #45
I'm concerned because there is at least 9 committers already for this project, but since there is no licence agreement listed anywhere, not on the website, not in the repository that i can find. i fear that this project will eventually run into a wall.

I guess implicitly if you haven't purchased a licence for QT then  GPL/LGPL 3 or 2.1
but that's a guess, i'm no expert.

seems a major oversight I

[2015-07-15 07:19] Granjow commented on #45
GPL. For me, LGPL is fine too. I will let @valgit decide.

[2015-07-15 09:28] valgit commented on #45
Hi,

I am ok with GPL too. maybe we should set it explicitly everywhere ?

[2015-07-15 11:42] Granjow commented on #45
Ok! Added LICENSE.md in 3ff98c9f913479377a7542630907eaf8c5739406

[2015-07-15 11:42] #45 closed

[2015-07-22 20:02] davidak opened #46 "Ubuntu 14.04 Build"
Can you add a 14.04 build to the ppa or can i help you to build that package?

[2015-07-23 08:42] valgit commented on #46
I don't know how to add a package to ppa, so maybe you could to it or help ?

[2015-07-23 08:53] davidak commented on #46
how is the ppa made?

i know how to build and package software but haven't used launchpad for package hosting.

maybe launchpad can build and package it automatically?

[2015-07-26 17:27] GoGoGoPro commented on #30
Sorry, but there is no EXE file in the download folder. How do I start the app?

[2015-07-26 19:21] valgit commented on #30
there should be an exe ! what file did you download ?

[2015-07-26 19:27] GoGoGoPro commented on #30
This link from you which is no longer valid: http://dl.free.fr/mWRDz2jZ8

After downloading there were a couple of files, but no exe file.

[2015-07-26 19:29] valgit commented on #30
have you try this one : http://www.mediafire.com/download/23tbebr8aqy1bxc/slomovideo_win64.7z

[2015-07-27 04:28] enetheru opened #47 "request: skip existing frames."
while rendering my project it exited out due to being unable to read a cached flow file.
I managed to continue from the failed part after deleting the failed cache file and setting the begin and end times for the remainder of the work. but it would be nice to have a tickbox for skipping existing frames, essentially allowing you to continue where you left off incase of error, or if you need to proc

[2015-07-27 09:08] valgit commented on #47
I was wandering what you called "existing frame" and in what mode did you output your render ? (video ? picture ?)
now I agree with you, it would be a nice feature to have

[2015-07-29 11:29] enetheru opened #48 "Request: quick linear graph button"
My GoPro Hero3+ takes 4k video at 12.5 frames per second. I use slowmovideo to re-time the footage from 12.5fps to 25fps.

To achieve the desired results accurately at the moment I edit the project files to make an exact linear transform. it would be nice to have a button or something to create a linear x=y time graph

I have lots of varying fps footage from my gopro, and use slowmo to retime it a

[2015-07-29 11:48] Granjow commented on #48
If you right-click in a segment, you should be able to select the speedup factor (0.5 in your case). The start frame has to be placed on a full frame, otherwise every single (not every second) image will be interpolated. There is no feature for this though, but would be useful to move a node to the previous or next full input frame.

[2015-07-29 12:04] enetheru commented on #48
excellent, that works. thanks

[2015-07-29 12:04] #48 closed

[2015-07-29 18:38] valgit commented on #48
how can we know it's a "flu frame" ?

[2015-07-29 18:51] Granjow commented on #48
For the node, both input and output frame has to be an integer value. Then we map the input frame to the output frame exactly.

[2015-08-01 09:37] enetheru opened #49 "Request: clean/delete sVflow files as you go"
I find myself running out of disk space and having the render stop when my hdd is full.
I have 200+gb of space and am rendering a 10 minute clip.

I can get around this by deleting the sVflow files that aren't needed for the remainder of the render.

an option to have them clean themselves up as needed would be nice. then i really can queue up a long render and walk away for its duration.

[2015-08-03 09:53] valgit commented on #49
Well, part of the problem is that, if you want to do another render you will have to all the math once more ;-)
maybe a better idea would be to treat that as a "cache space" where we can set the dedicated space, and have more or less lot's of the old files if needed ?

[2015-08-03 10:16] enetheru commented on #49
yes that sounds good.

[2015-08-04 18:13] funkydiscoman opened #50 "Debian Jessie cannot open video source"
Running Debian Jessie.
Compiled after:   cmake ../src -DUSE_QTKIT=FALSE -DENABLE_TESTS=FALSE

I have avconv and no ffmpeg on the system which I'm guessing may be the issue. Any suggestions are very welcome.

Video Source information shows--------------------------
Number of video streams: -1
Frames: 0
Size: 1x0
Frame rate: 0/0

--------------------------------------------------------------------

[2015-08-05 12:31] politvs opened #51 "Error compiling:"
Hi everybody!

I would really like to try this interesting piece of software, but I'm experimenting some problems compiling it under Linux Mint 17.1 (Ubuntu 14.04 based)

I'm following these instructions:

https://github.com/slowmoVideo/slowmoVideo/wiki/Download#compiling

But a while after typing make I get the next error:

<pre>Linking CXX executable slowmoUI
../lib/libsVencode.a(video_enc.cpp.o

[2015-08-05 12:58] valgit commented on #51
in w way, yes ... instructions on the wiki are a bit old...
under linux you need to use : `cmake ../src -DUSE_QTKIT=FALSE -DENABLE_TESTS=FALSE`
as QT_KIT is only usefull under OSX.
(take a look at issues #34 or #18 and #28 for more information)

[2015-08-05 12:58] #51 closed

[2015-08-05 13:04] politvs commented on #51
Now it compile. Thanks for your quick help!

[2015-08-05 13:54] valgit commented on #50
avconv should work, can you check it's correctly find under preferences ? and that it work on your file : avconv -i /home/xxx/Desktop/trim.MP4 ?

[2015-08-06 16:56] funkydiscoman commented on #50
The preferences by default has "ffmpeg", setting it to "/usr/bin/avconv" fixes it. Thanks.

[2015-08-06 16:56] #50 closed

[2015-08-06 17:00] valgit commented on #44
close by pull request 52 (commit 7086059e90078cda362297851aa0eea325b78940 )

[2015-08-06 17:00] #44 closed

[2015-08-23 22:40] haasn opened #53 "Gentoo build failure: DSO missing from command line"
I'm trying to build slowmoVideo but I encounter various errors.

[code]

If I restart manually, I also get the following error:
[code]

What am I doing wrong?

[2015-08-24 18:46] valgit commented on #53
there seem to miss some librairies in linking .... did you have installed opencv and X11 development librairies ?

[2015-08-24 18:57] haasn commented on #53
Yes, I have development libraries available for both, along with everything else on my system. Also, the ```cmake``` configuration step passed successfully.

More precisely, I have media-libs/opencv-3.0.0 and x11-libs/libX11-1.6.3 installed.

[2015-08-25 11:34] valgit commented on #53
from your logs you seems to be missing some libraries ( "undefined reference to symbol 'XCreateColormap'" which came from X11-dev ) , can you check you have them, and maybe run the make in verbose and/or debug to see what the command line is ?

[2015-09-10 22:46] pgillet opened #54 "slowmoUI menus"
Hi,

When I run slowmoUI on Ubuntu 14.04, I don't have the top menus slowmoVideo UI, View and Help (I saw them in a tutorial video on YouTube).

Note: I use the Cinnamon desktop environment that is based on the GTK+ 3 toolkit, but I get the same result with Gnome or Unity anyway.

I successfully created a test project, but I can't actually render it. So I tried slowmoRenderer in command line as fo

[2015-09-11 16:48] valgit commented on #54
sure ! can you post your console logs from the application ? so we can see if there is a problem ! as in my ubuntun 14 all is going well !

[2015-09-11 21:39] pgillet commented on #54
Hi,

This is all I got:

threading info :  8
("slowmoUI")
Adding  "Input monitor"  to the menu's widget list
Adding  "Curve monitor"  to the menu's widget list
Adding  "Render preview"  to the menu's widget list
Adding unique key  "h"
Adding unique key  "q"
Adding unique key  "n"
Adding unique key  "o"
Adding unique key  "s"
Adding unique key  "a"
Adding unique key  "d"
Adding unique key  "t"
Addi

[2015-09-12 07:21] valgit commented on #54
helas, no, it's the normal startup ! which QT version did you use ?

[2015-09-12 09:42] pgillet commented on #54
This is libqt4-dev and this is the most recent version.
I followed the install instructions for Ubuntu.

[2015-09-12 10:16] pgillet commented on #54
OK, I found a solution by means of this post: [Using KDE - Application Menus Missing in Qt Apps] (http://askubuntu.com/questions/452079/using-kde-application-menus-missing-in-qt-apps)
I ended up unsetting the QT_QPA_PLATFORMTHEME environment variable, and the application menus are there, and the rendering is much better!

Thank you, great app!

Maybe this is something you could add to your trouble

[2015-09-12 13:31] valgit commented on #54
I think you should update to QT5 !

[2015-09-12 14:22] pgillet commented on #54
OK, I'll give it a try!

But I still end up with blank videos, with the good duration though.
Do you think it is related to these old instructions?

[2015-09-12 14:47] valgit commented on #54
not sure ;-) can you post the logs ?

[2015-09-12 15:57] pgillet commented on #54
AT least the end of them:

...
Re-using existing flow image for left frame 52675 to right frame 52676: "/media/ubuntu/data/Downloads/Mont Blanc/slowmo/cache/oFlowSmall/ocv-forward-52675-52676.sVflow"
Read flow file of size 320×180. Magic number: flow_sV, version: 1
Re-using existing flow image for left frame 52676 to right frame 52675: "/media/ubuntu/data/Downloads/Mont Blanc/slowmo/cache/oFlowSma

[2015-09-12 19:18] valgit commented on #54
I didn't see any errors appart the file name which end in mpg not in mp4 ! can you check that ? (use a filename in mp4  like test.mp4 ?)  how/why did you render in small size ?

[2015-09-13 12:16] pgillet commented on #54
Ok, it works well and the result is beyond my expectations! Sorry for the loss of time on this second part!

Thank you.

[2015-09-14 04:22] #54 closed

[2015-09-29 07:33] lherbolt commented on #42
Hi,
I have same issue on latest fedora 22.
I tried attach make -d output with no luck. I'll try it again. Let me know what else you need.

[code]

[code]

[2015-09-29 07:39] lherbolt commented on #42
$ readelf -s /usr/lib64/libX11.so.6 | grep XCreateWindow
   555: 00000000000410d0   265 FUNC    GLOBAL DEFAULT   11 XCreateWindow

[2015-09-29 07:46] lherbolt commented on #42
One more update:
from Xlib.h for me it look like bug in Makefile created by cmake, but I don't know how cmake works. :-(

[code]

[2015-09-29 13:44] valgit commented on #42
Can you try to disable the build of slowmoFlowBuilder as it's a lot's out of date in recent ubuntu and maybe does not compile correctly ?

[2015-09-29 14:15] lherbolt commented on #42
How? As I wrote newbie in cmake

[2015-09-30 07:30] valgit commented on #42
can you use `make VERBOSE=1` and post the result log ?

[2015-10-01 02:15] pmo-19 commented on #42
I stumbled minutes ago on the same error in Ubuntu Trusty 14.04.

`Linking CXX executable slowmoFlowBuilder
cd /home/ubuntu-trusty/jean/Downloads/slowmovideo/slowmovideo-0.4+git20150930/obj-x86_64-linux-gnu/V3D/Apps/GL && /usr/bin/cmake -E cmake_link_script CMakeFiles/slowmoFlowBuilder.dir/link.txt --verbose=1`

`/usr/bin/c++   -g -fstack-protector --param=ssp-buffer-size=4 -Wformat -Werror=format

[2015-10-01 06:05] valgit commented on #42
I agree with you about this error is an linker error. but from what I see in your logs, there is no -lX11 in your link command contrary to mine in my ubuntu ! What I didn't understand is why  as I have never specify -lX11 as a "forced dependecies". I will check what packages I have ASAP

[2015-10-01 13:50] pmo-19 commented on #42
Good morning. I believe you shouldn’t see an -lX11 on the "Linking CXX executable slowmoFlowBuilder" which where the error pops up and the part of my log I did publish above, at least if the source flowBuilder.cpp was not build against the X11 library.

However to correct this error I would expect to see a -lX11 on the compile command line for the flowBuilder.cpp source. For this to happen I think

[2015-10-01 14:15] pmo-19 commented on #42
Well. I have found the solution and will propose a pull request.

[2015-10-01 15:17] forresthopkinsa commented on #42
As a side note, I'm running this through Crouton on a Chromebook.

I'm just trying to figure out why this would be working for some systems, and not for others. Clearly the lack of an X11 reference in Cmake wasn't a problem with most people's systems.

@lherbolt and @pmo-19 are either of you using Chromebooks? I really want to figure out what made this run differently in the first place.

[2015-10-01 15:27] valgit commented on #42
for what it's worth, here is the content of:
./V3D/Apps/GL/CMakeFiles/slowmoFlowBuilder.dir/link.txt :+1:
/usr/bin/c++    -Wall -g -g    CMakeFiles/slowmoFlowBuilder.dir/flowBuilder.cpp.
o CMakeFiles/slowmoFlowBuilder.dir/__/__/__/slowmoVideo/lib/flowField_sV.cpp.o C
MakeFiles/slowmoFlowBuilder.dir/__/__/__/slowmoVideo/lib/flowRW_sV.cpp.o  -o slo
wmoFlowBuilder  -L/home/vbr/Documents/slowmoVideo/s

[2015-10-01 15:35] forresthopkinsa commented on #42
Yeah, there's definitely an X11 reference there. Then again, maybe it's not absolute enough? @pmo-19 said that it needs to have `-I/usr/include/X11` and in the current link file, it looks to only include `-lX11`. I, too, have very limited experience with Cmake development, but could this be related to the problem?

Again, pmo-19, please update us when you compile your commit.

[2015-10-01 15:37] pmo-19 commented on #42
No I am running Ubuntu 14.04 on a standard PC. In addition I have Windows 8.1 in multi boot.
I have just performed a git clone of slowmovideo. Then at the start of the configuration process it checks for the availability of X11. And it fails to build against X11 shared libraries.

That's it.

I have some trouble pushing the branch I have created. This is my first use of it in GitHub.

`$ git check

[2015-10-01 15:39] forresthopkinsa commented on #42
What? I don't think I understand. Isn't this the original problem? (am I just being dumb?)

[2015-10-01 15:49] pmo-19 commented on #42
"It fails to build against X11 shared libraries"

Was an answer to @valgit I described the steps on my PC to stumble on the problem of failing to build flowBuilder.cpp.o against X11.

[2015-10-01 16:46] pmo-19 commented on #42
I successfully connected this time in order to push a new branch for a pull request.

`$ git push origin x11-in-target-list-libraries
`
`ERROR: Permission to slowmoVideo/slowmoVideo.git denied to pmo-19.
`
`fatal: Could not read from remote repository.
`

`Please make sure you have the correct access rights
and the repository exists.
`
`$
`

This time it looks like I need to have my account author

[2015-10-01 16:56] valgit commented on #42
I think you should clone the repository in your own git then create a pull request with your changes

[2015-10-01 17:28] pmo-19 commented on #42
I have already made a new branch in my own clone repo. as detailed above.

However, AFAIK the create pull request page on this project can only see branches in the GitHub repo. Since my branch is not pushed, I can't create any pull request here.

https://github.com/slowmoVideo/slowmoVideo/compare

That's it. What is your way of living here ? Only you are allowed to create branches and then pull re

[2015-10-01 20:35] pmo-19 commented on #42
@valgit Just a simple reminder to the owner of this repository:

A basic rule of thumb is that when you have more than 1 user (here you have 3 users on two different platforms) complaining about the very same deficiency, then there is a 100 % chance that your code is deficient.

I have devised a working patch which corrects the afore mentioned deficiencies. However, since the owner of the repo (@v

[2015-10-02 06:10] valgit commented on #42
@pmo-19 : I am not the owner, only @Granjow is the real one, he only give me these rights. Now, before having it, I have been able to make pull request from my own clone, so I didn't understand why you can't. Are you sure you have pushed in the good repo ?
Now, if @Granjow is ok with that we can give you direct access.
As for the "everything is right", I would prefer to understand why my code don'

[2015-10-02 13:43] pmo-19 commented on #42
OK. I loosed my nerve in the early process. That was my first pull request on GitHub. I didn't lnow much of all the process. Now the pull request is effective and any one here can review and test it. I believe its modifications are minimal on the original source.

I've seen I don't need a write access to the original repository. So forget about it.

Your point of understanding why you can build (a

[2015-10-02 14:32] valgit commented on #42
Hi,

I've merge your pull request, hope this will be for compiling under debian. As for the build process, in my case I only use cmake, now I am more of an OSX and RHEL guy so I only use Ubuntu for basic checking if you can clean the debian process you are welcome.

[2015-10-02 15:40] forresthopkinsa commented on #42
Guys, don't merge this yet, ugh. We should test this first.

@pmo-19 you're not supposed to push directly to the master repo. You're supposed to make your own fork/branch/whatever, push to *that*, and once you're debugged and gotten everything working, *then* you submit a PR. On Github. Through the web interface.

It's intentional that write access to the main repo through Git is disabled.

Now, @

[2015-10-02 16:40] valgit commented on #42
Too late but I understand your point ! we can revert if needed but the changes are small. @lherbolt and you @forresthopkinsa  can you retest ? For my part I can only check the OSX build.

[2015-10-02 19:54] pmo-19 commented on #42
This update of src/CMakeLists.txt should solve debian and RPM builds as well (@lherbolt was using Fedora 22), as long as they use a build process using only cmake without any other command line parameters.

[2015-10-02 22:40] forresthopkinsa commented on #42
I can confirm that the latest build is working for me. Thanks!

Although, on a separate note, it seems that SlowmoVideo creates project folders with bad permissions, which makes it so that it can't write the project file. hmmm

[2015-10-03 00:03] pmo-19 commented on #42
For those on Debian / Ubuntu systems I have a Launchpad repository with up to date Photo (and some Video) Applications for all Ubuntu supported releases:

https://launchpad.net/~anton+/+archive/ubuntu/kde-photo-apps
https://launchpad.net/~anton+/+archive/ubuntu/photo-video-apps

And some various particular or system related applications

https://launchpad.net/~anton+/+archive/ubuntu/miscellaneous

[2015-10-03 02:20] pmo-19 commented on #53
I think you may suffer from the same deficiency I had some days ago. See Issue `Undefined reference to symbol 'XCreateWindow'`

The file src/CMakeLists.txt was not listing `X11` as part of the set of the `target_link_libraries` . Therefore shared libraries (of the project) were not build against the `X11 library`.

I pushed a pull request today which was accepted and merged in the project. Which s

[2015-10-03 02:24] pmo-19 commented on #42
@forresthopkinsa Interesting comment about access right of project folders. I didn't test anything yet. Can you details some of the action you made to witness this ?

If you confirm the problem, can you open an issue here ?

[2015-10-03 02:27] pmo-19 commented on #46
No Launchpad does not build a package solely from source. You need to provide a debian folder in order to proceed. The current debian folder of slowmoVideo is broken.

In a few days (as some issues with the source code are solved) I plan to add slowmoVideo in my Ubuntu Launchpad PPA for Photo (and some Video) Applications for all Ubuntu supported releases:

https://launchpad.net/%7Eanton+/+archive

[2015-10-03 02:52] pmo-19 commented on #41
I am using Ubuntu Trusty 14.04. Since Trusty both Qt4 and Qt5 are part of the system.

By default OpenCV CMakeLists.txt file set QT support as OFF:
`OCV_OPTION(WITH_QT             "Build with Qt Backend support"               OFF  IF (NOT ANDROID AND NOT IOS) )`

There is no Qt4 or Qt5 specific switch. If you set this switch to ON then it will check first for the availability of Qt5 then Qt4, if n

[2015-10-03 02:58] pmo-19 commented on #42
Looking at other issues it looks like the `Gentoo build Failure` issue `#53` arises from the same missing `X11 library` in the set of `target_link_libraries` .

[2015-10-03 03:45] ReubenM commented on #41
It's not about modifying the source, it's about checking that opencv is using the same version of qt. The build system pulls in the libraries that opencv are linked to, including qt4/5. It doesn't matter if you configure cmake to use qt5 if opencv is using qt4. In that scenario it ends up linking qt5 code to qt4 libraries. That will successfully build since the API interfaces are similar, but of c

[2015-10-03 21:19] forresthopkinsa commented on #42
I'll make a new issue sometime for the permissions error. For now, this is fixed. Thanks everybody for cooperating!

[2015-10-03 21:19] #42 closed

[2015-10-03 23:31] pmo-19 commented on #41
Well, I believe its only your business to see how you configure the build of other packages in your system. Here OpenCV.

However, as I said before I don't see the need to build OpenCV with Qt support. OpenCV is a low level library and is ill fit to manage end user Qt applications. As a reference I gave you above, none of the distributions I know of (Debian and Ubuntu) does build OpenCV with Qt Su

[2015-10-04 09:34] valgit commented on #41
@pmo-19  I agree with you, and don't think that compiling slowmovideo need an opencv 'qt aware".

[2015-10-05 08:13] lherbolt commented on #42
Hey,
just tested latest git version it on Fedora 22 adn it works.

[2015-10-05 16:58] forresthopkinsa commented on #42
Thanks!

[2015-10-05 17:02] valgit commented on #42
Hi,
it's OK under OSX, nothing break.

[2015-10-05 17:03] forresthopkinsa commented on #42
Cool, the build works then

[2015-10-10 02:32] haasn commented on #53
After pulling from master and trying again, the first error is indeed eliminated, but the second one was still present. Since gpumat.hpp did not seem to exist on my system at all, I tried downgrading opencv from 3.0.0 to 2.4.10.

After that, it complained about not finding "opencv2/ocl/ocl.hpp", which also does not seem to exist on my system. (I found "opencv2/nonfree/ocl.hpp", but that one itself

[2015-10-10 13:49] pmo-19 commented on #53
OK. In Debian / Ubuntu the file `gpumat.hpp` you mentioned as missing on your system is part of either package `libopencv-core-dev` or package `libopencv-gpu-dev`.

See http://packages.ubuntu.com/search?searchon=contents&keywords=gpumat.hpp&mode=exactfilename&suite=trusty&arch=any

May be consider adding a dependence in your build or make sure you have this installed / build appropriately. These p

[2015-10-10 14:28] pmo-19 commented on #53
OK. In Debian / Ubuntu the file `gpumat.hpp` you mentioned as missing on your system is part of either package `libopencv-core-dev` or package `libopencv-gpu-dev`.

See http://packages.ubuntu.com/search?searchon=contents&keywords=gpumat.hpp&mode=exactfilename&suite=trusty&arch=any

May be consider adding a dependence in your build or make sure you have this installed / build appropriately. These p

[2015-10-24 05:25] forthrin opened #56 "Execution and compilation breaks with OS X 10.11"
After updating to OS X 10.11, the executable wouldn't run anymore, because of claimed incompatibility.

So I updated the source from git, and tried compiling again, which fails instantly.

Please advice how to proceed.

    ~/slowmoVideo$ cmake ../slowmoVideo/src -DUSE_QTKIT=true -DENABLE_TESTS=FALSE
    -- Using qt5
    CMake Error at /usr/local/opt/qt5/lib/cmake/Qt5Gui/Qt5GuiConfigExtras.cmake:9

[2015-10-24 08:29] valgit commented on #56
as it seems the error come from the cmake plugin from QT, have you check QT compatibility and/or update for 10.10 ?
as for the incompatibility, which message/error did you have ?

[2015-10-24 11:34] forthrin commented on #56
1. Qt5 is available as a tap for OS X 10.11, so I should expect it should work, but I don't have any technical knowledge on the area. I tried uninstalling Qt5 and so cmake finds Qt4 (4.8.7) instead. But then make fails. Need further help.

~/slowmoVideo$ make
Scanning dependencies of target V3D
[  0%] Building CXX object CMakeFiles/V3D.dir/V3D/GL/glsl_shaders.cpp.o
In file included from slowmoVide

[2015-10-24 17:18] valgit commented on #56
well no sure about the QT5 version you have, but I have found these two bug issues :
https://bugreports.qt.io/browse/QTBUG-34289 and https://bugreports.qt.io/browse/QTBUG-34115 with some patch to apply, can you try them ?
also in http://stackoverflow.com/questions/19756694/qt-5-and-os-x-mavericks-issues, there seems to says that there is some version required.

[2015-10-25 05:50] forthrin commented on #56
I have much later versions: cmake 3.3.2, qt 4.8.7_1 and qt5 5.5.1, so I would assume these issues have been fixed long ago in my versions?

[2015-10-25 08:24] valgit commented on #56
from the logs you post at first, I am not sure ! could you verify Qt5GuiConfigExtras.cmake ?

[2015-10-25 13:23] forthrin commented on #56
Verify, how? I lack the necessary permissions to upload the file here.

[2015-10-27 06:50] valgit commented on #56
from what I've seen here https://codereview.qt-project.org/#/c/69605/ , the path as not been included !
can you try to apply it ?

[2015-10-27 08:02] forthrin commented on #56
Well, now there are other issues. `cmake` does not find Qt5. It used to find it earlier. I don't know why this has changed. I have installed Qt5 with Homebrew, and removed Qt(4).

    ~/slowmoVideo$ cmake ../slowmoVideo/src -DUSE_QTKIT=true -DENABLE_TESTS=FALSE
    -- Could not find Qt5, searching for Qt4 instead...
    CMake Error at /usr/local/Cellar/cmake/3.3.2/share/cmake/Modules/FindQt4.cmake

[2015-10-27 19:17] valgit commented on #56
well, I don't use home-brew, so I can't help on what is going on ! As for cake, have you verify that you correctly apply the proposed fix ?

[2015-10-28 08:19] forthrin commented on #56
"Cake"?

Yes, I added the "IF MAC" statements as best I could. However, I think the problem is that the compiler doesn't find Qt 5 at all, so the changes don't matter at the moment. Does your program require Qt 4, Qt 5 or does it run with either?

Did you see the posting about the compiler flags? How can I add them? I need specific instructions as my knowledge on compiler and make tools are limite

[2015-10-28 08:33] valgit commented on #56
well, excuse my error of cake vs cmake ;-). as for QT4 or QT5, both should work now I would advise you to use QT5 as there is a better support under OSX >= 10.8.
As I said, I don't know how homebrew work as I don't use it, I am only using XCode and cmake.

[2015-10-29 15:43] ao2 opened #57 "Make a core library reusable in other projects"
Hi,

I just wanted to report that the code from slowmoVideo has been used in this GStreamer plugin:
https://bugzilla.gnome.org/show_bug.cgi?id=708545

AFAICS the author (not me) took the core files and stripped the Qt and ffmpeg bits to port the functionality to GStreamer.

This made me think that maybe slowmoVideo can provide the core functionality as a shared library which do not depend on Qt/ff

[2015-10-30 06:44] valgit commented on #57
Interresting, we should look at how streamer had 'extract' the functionality and see if we can do the same here.

[2015-10-30 12:31] forthrin commented on #56
OK, now I somehow managed to make cmake find Qt5 again, and this is how I changed the file, but I get the error message (also included below):

TOP OF FILE:

    find_path(_qt5gui_OPENGL_INCLUDE_DIR gl.h
        PATHS ${_GL_INCDIRS}
    !!IF !mac
        NO_DEFAULT_PATH
    !!ENDIF
    )
    if (NOT _qt5gui_OPENGL_INCLUDE_DIR)
        message(FATAL_ERROR "Failed to find \"gl.h\" in \"${_GL_INCDIRS

[2015-10-31 08:05] valgit commented on #56
from what I see in the patch this part is missing around line 83 :
[code]

maybe you can use directly : https://bugreports.qt.io/secure/attachment/35338/Qt5GuiConfigExtras.cmake

also here https://cmake.org/gitweb?p=cmake.git;a=commitdiff;h=1fce189e, I've seen that there is also change in Darwin.cmake which I think is the base under homebrew.

[2015-10-31 12:25] forthrin commented on #56
My file version doesn't contain `CROSS_COMPILE` at all. The file is a totally different version. I replaced it as best possible. Maybe you're in touch with another Mac user with good compiler knowledge who has managed to compile it and provide help? I'm really at a loss here.

[2015-10-31 12:34] valgit commented on #56
Problem is that for now I only have access to 10.8 and 10.9. Maybe in this case, for you, the best thing is to see how we can make the current binaries run on your platform ? From one of your preceding info, there was a problem with x264, can you recheck that ?

[2015-10-31 14:26] forthrin commented on #56
See comment further up about x264.

[2015-10-31 15:21] valgit commented on #56
did you compile it from scratch with  homebrew ?

[2015-10-31 17:27] forthrin commented on #56
If I built x264 from source? No, but I tried it now. No difference. Why should that matter? The version is the same. Anyway, it's getting too cumbersome to communicate like this, and we seem to be getting nowhere. Let me know if you have an actual solution to this. Hope there is some other Mac user there that has solved this and provide help.

[2015-10-31 17:44] valgit commented on #56
I understand the difficulties, but I have now way to reproduce your problem for now on. but can you check the version in this post : https://plus.google.com/106859551684274731427/posts/EAYeoc3zqhh ?

[2015-10-31 18:40] forthrin commented on #56
The binary executes fine! However, the "Input video" field is red when I choose any MP4/x264 video. Info box says:

Video streams: -1
Frames: 0
Size: 2 x 32758
Frame: 0/0

[2015-10-31 20:05] valgit commented on #56
did you installe ffmpeg as required, and set the preferences for it ?

[2015-10-31 21:12] forthrin commented on #56
Install how? What preferences? Please be more specific.

[2015-11-01 18:00] valgit commented on #56
take a look here : http://slowmovideo.granjow.net or here https://plus.google.com/communities/116570263544012246711, ti better understand.
the idea is that you need to have ffmpeg install (I think in /usr/local/bin by default) and set this path in the preferences of slowmovideoUI.

[2015-11-02 08:45] forthrin commented on #56
Aha. It would have been helpful if the "New project" dialog informed the user that ffmpeg binary needs a path in Preferences. Or better yet, look for it automatically in a few typical places before asking the user.

Anyway, now the application runs, I could import a file, I drew a speed line and selected "Render Preview". The application crashed immediately. Here are the most important details:

[2015-11-02 09:53] valgit commented on #56
Well, the idea to have a warning is good, now it already look in some standard place but I think that it doesn't warn if not found ....
Now for your crash... from what I see, i infer a bug in the GPU version of OpenCV, can you disable it in the preferences and rerun your test ?

[2015-11-02 09:54] valgit opened #58 "add a warning when ffmpeg not found"
When slowmovideo does not found ffmpeg we should isssue a warning and if possible let the user tell where it is installed.

[2015-11-02 15:16] forthrin commented on #56
How do I disable it? My choices are for "Flow method" are as follows (I assume this is what you are referring to):

* "external" (greyed out, not possible to select)
* "CPU, OpenCV" (with a dialog box with no available choices)
* "OpenCV with OpenCL" (set as "Intel Core...", other available choice is "HD Graphics 5000")

[2015-11-02 16:37] valgit commented on #56
you should choose  ""CPU, OpenCV""

[2015-11-02 18:14] forthrin commented on #56
When choosing "CPU, OpenCV"
    Thread 9 Crashed:: QThread
    0   QtCore 0x000000010b0bf89a QString::endsWith(QChar, Qt::CaseSensitivity) const + 26
    1   QtCore 0x000000010b1550da QDir::absoluteFilePath(QString const&) const + 122
    2   .      0x0000000109998a04 FlowSourceOpenCV_sV::flowPath(unsigned int, unsigned int, FrameSize) const + 628
    3   .      0x00000001099c47c6 WorkerFlow::doWo

[2015-11-02 20:12] valgit commented on #56
this is strange, as from your log, the crash happen when the UI try to access flow files which is when you do a rendering. Can you make sure "background thread" are not use in preferences. And maybe retest with a clean project in case a file as been corrupt ?

[2015-11-02 20:38] forthrin commented on #56
I removed "background thread" and created a new project. Now I actually got to the part where the software is rendering!

Well, now I need to understand the grid. What is the X axis and what is the Y axis? I don't understand the numbers and units at all. (To make it simple: How do I create a video that goes at half speed, or 1/4 speed?)

And how long does it take to render 1 minute of h264/720p vi

[2015-11-02 22:31] enetheru opened #59 "If opencl not found revert to cpu"
I have successfully loaded slowmovideo and configured it for opencl.
I played with my driver situation and broke opencl functionality on my computer.
I cannot load slowmovideo because it expects opencl and closes.

[2015-11-03 08:24] valgit commented on #59
can you post the crash logs ?

[2015-11-03 08:25] valgit commented on #56
for those sort of questions you better look at http://slowmovideo.granjow.net or here https://plus.google.com/communities/116570263544012246711.
As for the render speed, the only thing I can answer is that slowmovideo can only use one cpu for now.

[2015-11-06 07:25] enetheru commented on #59
[code]
[code]

[2015-11-06 18:28] valgit commented on #59
for now, I don't know how to handle this case, as it appear to be in OpenCV libraries !
to bypass it quickly, you can modify the preferences outside of slowmovideoUI (under osx it's a plist, under windows it should be a registry, linux, i think it's a text file)

[2015-11-09 10:59] #58 closed

[2015-11-12 12:24] valgit commented on #59
close by commit 93ce0d50f371b3715eba9126ad7a6e823d68c58d

[2015-11-12 12:24] #59 closed

[2015-12-13 23:31] Miserlou commented on #38
+1

[2015-12-14 00:58] Miserlou opened #62 "Command Line Usage?"
Would be love to use this as a command-line tool, I just want to slow down videos, I don't need a whole GUI.

ex
    $ slowmo input.mp4 --time 2x--output output.mp4

[2015-12-14 06:51] Granjow commented on #38
Do you also have permission to edit the wiki? Otherwise, which ppa is currently working?

[2015-12-16 11:32] gwegner commented on #62
I second this. There is the "slomoRenderer" - a commandline tool already available.
Unfortunately, it needs a full XMP project file. I'd appreciate an option to just add a multiplicator (could be a float from 0..1) to set the level of slow motion. So 0.5 would be half the speed.
I'm considering to promote the tool for the time lapse community (I'm the developer of LRTimelapse, see http://lrtimelap

[2015-12-16 19:34] valgit commented on #62
@gwegner, I like this idea two ! your proposal is interesting, I was aware of **slowmoRenderer**, what you said make me think of using the factor (0..1) to update a template project file or something like that to be able to run it ?!

[2015-12-16 19:49] Miserlou commented on #62
I like the float idea as well.

[2015-12-16 19:49] Miserlou commented on #62
I also imagine that having a CLI version would reduce dependencies, so it would be easier to make OSX/W32 builds as you wouldn't have to worry about QT anymore.

[2015-12-16 20:20] gwegner commented on #62
That's what I think, just a lean command line utility, that can be launched in background to do the job. Would be great to have it for mac too.

[2015-12-16 20:47] valgit commented on #62
@Miserlou : it would not reduce dependencies, as lot's of slowmo code use QT object and hierarchy, it's not only the GUI parts ! as for the build, OSX is easy once you have statisfied all dependencies (cake, ffmpeg, opencv ...), as for W32, the big problem is that VisualStudio break on lot's of syntax ! so you need to fallback to gcc in cross compilation with for e.g. cygwin.
@gwegner mac would of

[2015-12-17 13:09] Granjow commented on #62
@valgit Oh, Please don't. Trying to compile it on Visual Studio is probably the worst thing you can do to yourself, there is hardly anything more terrible.

I have generated the Windows executables with [MXE](http://mxe.cc/). This should still work, and used to run without problems (unless there were internal dependency problems that ffmpeg could not be compiled because libx264 could not be compil

[2015-12-17 20:22] valgit commented on #62
@Granjow  I've try VisualStudioas I was wanting a real native win64, and QT,cake should be portable ! but well as i said i fall back to compile with cygwin, which was already complicated.I've try MXE but was not satisfied. In another ways, my main station is a mac, so I prefer OSX ;-)
I'm in the process to **convert** slowmoRenderer to full CLI, but I'm block with the fact that ** slowmoRenderer**

[2015-12-18 08:09] Granjow commented on #62
@valgit Okay, what did not work with MXE? But if cygwin works, that's fine :)

Maybe it is a good idea to combine all in one executable and just add a parameter to slowmoVideo so the UI would be started with `slowmoVideo` and the renderer with `slowmoVideo infile.sVproj` or `slowmoVideo infile.avi --export-avi=out.avi --speed=0.1` …

[2015-12-18 15:49] Miserlou commented on #62
Strongly advice against having it launch the GUI, the whole reason for a
CLI interface is to avoid that. Windows builds are less important since
Windows is an inherently GUI environment. OSX and Linux builds would be far
more useful for automation purposes.

From my phone..
On Dec 18, 2015 3:09 AM, "Granjow" <notifications@github.com> wrote:

[2015-12-18 16:01] gwegner commented on #62
Windows is, what most users use. There is no reason for not having a windows CLI application. Windows users are mostly more tech savy then Mac os users... :-)

[2015-12-18 16:36] valgit opened #63 "permission problem when creating new project"
when creating new project and directory does not exist, it's created as per issue #44 but with wrong level.

[2015-12-19 07:54] Granjow commented on #62
@Miserlou Sorry if I have not been clear enough. It is just about combining it in one executable. Inkscape, for example, does this as well: You can run

    inkscape --export-png=test.png test.svg

and it will convert the SVG to PNG, without any UI. Works perfectly also on web servers.

[2015-12-21 18:38] #63 closed

[2016-01-04 14:23] valgit opened #66 "need dialog when speed is over"
In void NodeList_sV::setSpeed, when the max are reach and we need to apply correction, we should display a warning to the user by way of dialogbox, not just console !

[2016-01-07 17:59] valgit commented on #62
I've made a PR for a new command line version, can you review and check.
@gwegner can you tell me if it works for you in LRTimelapse ? moreover can you tell me what is needed to include it directly (lib ?)

[2016-01-12 17:21] MathieuDuponchelle commented on #57
Disclaimer: this was done in two days with no regard whatsoever for good engineering practices, as highlighted by such a file : https://github.com/MathieuDuponchelle/gst-plugins-base/blob/dba7c98072049c8dd3f8aee0d43cb10dee865e7d/gst/slowmo/QPoint_crack.h .

This mostly proves it can be done, my main goal there if I remember correcly was to get rid of the qt dependency and to use the C version of o

[2016-01-12 20:24] valgit commented on #57
@MathieuDuponchelle thanks for the help, I've read part of your hack, seeing that most of the work, as you said, was to get rid of QT dependancies !
This seem something doable, the difficult part, is to have a "good" API interface to have a real usable library.
@MathieuDuponchelle did you know what would be your needed interfaces ?

[2016-01-12 20:45] ckorn opened #68 "Ubuntu 14.04 compile error: undefined reference to `avformat_alloc_output_context2'"
The build of version 0.4 fails on Ubuntu 14.04:
[code]

I took the PPA packages as starting point.

[2016-01-13 05:33] valgit commented on #68
@ckorn can you start from the "debian" directory in the master branch instead ? the pap is very old.

[2016-01-13 16:42] MathieuDuponchelle commented on #57
Hey, you should look at the main entry point for the plugin at https://github.com/MathieuDuponchelle/gst-plugins-base/blob/slowmotion/gst/slowmo/gstslowmo.c . The bridge between gstreamer and slowmovideo is made there and also in https://github.com/MathieuDuponchelle/gst-plugins-base/blob/slowmotion/gst/slowmo/interpolator_sV.cpp .

Basically what I can think of would be:

* "Native" support for a

[2016-01-13 16:50] MathieuDuponchelle commented on #57
Also if there's any way to make the code work "real-time", even if that requires drastically downscaled input, there should be high level configuration options for this (slowmo_video_instance_set_profile ([SPEED || ACCURACY]))

[2016-01-13 23:50] ckorn commented on #68
Thanks, the master branch worked.

Just published it for Ubuntu 15.10:
http://www.getdeb.net/app/slowmoVideo

[2016-01-13 23:50] #68 closed

[2016-01-20 18:53] valgit commented on #66
closed by commit  ffa46c3

[2016-01-20 18:53] #66 closed

[2016-01-20 18:54] valgit commented on #62
partially done in commit  ffa46c3

[2016-01-20 18:54] #62 closed

[2016-01-20 18:55] valgit commented on #53
did you check like issue #68

[2016-01-20 18:57] valgit commented on #43
I think that i find what's goes wrong. it seems that in some cases, extracting frame take too long. This should be corrected in last commit  ffa46c3.

[2016-01-20 20:33] Miserlou commented on #62
Sweet! Any documentation on how to use this?

On Wed, Jan 20, 2016 at 7:54 PM, valgit <notifications@github.com> wrote:

[2016-01-25 12:36] valgit commented on #62
@Miserlou, @gwegner  here an usage  exemple :
`./slowmoRenderer -input video ~/Videos/MVI_0233.AVI -target video cli_test.mp4 auto -slowfactor 0.5`
where `-input` is your source, `-target`is your output file and `slowfactor`is the factor you want to apply, other old `slowmoRenderer `are usable.

[2016-01-25 15:15] Miserlou commented on #62
Excellent!

On Mon, Jan 25, 2016 at 2:36 PM, valgit <notifications@github.com> wrote:

[2016-01-26 19:06] valgit commented on #57
@MathieuDuponchelle, I didn't understand your point about :

can you elaborate on it ?

[2016-01-27 09:29] MathieuDuponchelle commented on #57
@valgit sure, as you can see in https://github.com/MathieuDuponchelle/gst-plugins-base/blob/slowmotion/gst/slowmo/interpolator_sV.cpp , I pass "left" and "right" buffers there, which I then construct "flows" from. Afaict , flows are an implementation detail that might be better to left hidden, and the API could let me simply provide timestamped "reference frames", and, depending on the defined con

[2016-01-27 14:06] petrica-celrau opened #69 "Curve monitor eating all ram"
System: Intel i5, GPU integrated - driver=i915 , 8GB ram, Arch Linux
As mentioned on G+ slowmovideo was using up all my 8GB of ram as I was moving the mouse around in the grid area. I was wrong in believing it was a Qt5 vs. Qt4 issue, turns out if I uncheck the curve monitor in the view menu slomowvideo behaves normally.

[2016-01-27 14:21] petrica-celrau opened #70 "Can not run a second render"
After I do a render (small size format mp4) and try to do it again without any changes, the app freezes. Last entry in console: using classical FFMPEG.

[2016-01-27 14:53] valgit commented on #70
@petrica-celrau can you provide more output lines of console ?

[2016-01-27 16:18] petrica-celrau commented on #70
This is kind of long but I rendered once ill the end and then attempted a second time just changing the output file name.

[slowmo.log.txt](https://github.com/slowmoVideo/slowmoVideo/files/106928/slowmo.log.txt)

[2016-01-28 16:12] valgit commented on #69
@petrica-celrau can you give more hint on how to reproduce/look at the problem ?
for now, the only thing I see is a change in all "monitor", not just "curve", where there is now a cache of image instead of loading them each time (less IO workload but more memory ...).
so maybe, there is a bug in the cache part (which is using qt qcache) ?

[2016-01-28 16:34] petrica-celrau commented on #69
Open slowmoVideo, load a project so that you have images in both monitors
and move the cursor in the grid area, in my case as I move the cursor I can
see in conky the amount of ram used increasing... and it stops only when I
stop the mouse or run out of ram in which case the display is blocked.
Anyway, thanks for looking into it.

On Thu, Jan 28, 2016 at 6:12 PM, valgit <notifications@github.com>

[2016-01-28 19:15] valgit commented on #70
@petrica-celrau from some simple tests I've done, it seems that the previous rendering thread is not correctly terminated and so the new one wait on it.
I will look at what can be done on that

[2016-01-30 11:30] valgit commented on #70
@petrica-celrau can you test the PR #71 which should correct this issue ?

[2016-01-30 11:34] valgit commented on #37
should be corrected since PR #67

[2016-01-30 11:34] #37 closed

[2016-01-30 13:07] petrica-celrau commented on #70
I applied the changes.
1. on the first render the progress in the rendering progress window goes
to only 50% then jumps to 100%; file is rendered correctly, I can close the
rendering progress window.
2. second render to new file: the progress in the rendering progress window
goes to only 50% then stops and can't close the window from the button, no
file is rendered.
3. repeted step 1 with new file

[2016-01-30 15:23] valgit commented on #70
@petrica-celrau thanks for your tests. I will try to reproduce your tests. note: the logs files seem to be to big ;-)
as for threading : it's a limitation of actual version, only one thread is used. For curve and monitor, we should add some prefs for that, I think !

[2016-01-30 16:41] petrica-celrau commented on #70
I'm afraid the log files got concatenated on git not that they were small
to begin with :)

On Sat, Jan 30, 2016 at 5:23 PM, valgit <notifications@github.com> wrote:

[2016-01-31 18:59] petrica-celrau opened #72 "extracted frames in new project are not saved in project's folder"
Forgot about this bug but every time I create a new project all frames are saved in ~/ instead of the project folder. Even if I create a new project in an existing folder. If I move the frames folder in the project folder and restart the app it reads them from there.
Arch linux.

[2016-02-02 15:06] valgit commented on #70
@petrica-celrau can you test the latest patch in this PR  ?

[2016-02-03 12:53] petrica-celrau commented on #70
I just ran all previous tests and it looks like you've fixed all rendering
bugs. Thanks for your fast response.

On Tue, Feb 2, 2016 at 5:06 PM, valgit <notifications@github.com> wrote:

[2016-02-03 12:56] petrica-celrau commented on #69
Honestly, I never understood the purpose of Curve monitor and Render preview, AFAIC you can just get rid of them.

[2016-02-03 13:03] petrica-celrau commented on #57
I'm glad someone brought this up, I'm all for it (as a user not a developer). Either a library (I'm sure Shotcut developers would like to use it) or an upgrade to the application, it can use a few enhancements I think.

[2016-02-03 15:56] valgit commented on #72
this should be corrected in latest commit @petrica-celrau, can you check ?

[2016-02-03 16:09] petrica-celrau commented on #72
Oh yes, maybe I wasn't clear in my previous post, everything is saved where it should be now, thanks.

[2016-02-03 16:52] #72 closed

[2016-02-06 11:26] #70 closed

[2016-02-06 11:30] valgit commented on #69
hi @petrica-celrau , the PR #73 should correct your memory problems and also your window setting.
can you test it ?

[2016-02-06 12:15] petrica-celrau commented on #69
Looks good thanks. One small detail, un-checking Curve/Render monitor in
View menu is now saved for the next session but the menu still shows all
checked. Not a big deal really.

On Sat, Feb 6, 2016 at 1:30 PM, valgit <notifications@github.com> wrote:

[2016-02-06 14:02] valgit commented on #69
yes, I've seen this effect, but don't find from where it come !

[2016-02-06 14:11] petrica-celrau commented on #69
must be hard-coded somewhere..

On Sat, Feb 6, 2016 at 4:02 PM, valgit <notifications@github.com> wrote:

[2016-02-08 13:44] valgit commented on #69
@petrica-celrau the latest commits should now correct this last bug !

[2016-02-08 16:33] PandaJim opened #75 "About window displays wrong version number"
Just built the 0.5 release for ubuntu, but the about window does not display correct version.

I'm not a programmer,  it displays version 0.3.1 in about dialog even after made below change to  src/CMakeList.txt:

set(PROJECT_VERSION_MAJOR "0")
set(PROJECT_VERSION_MINOR "5")
set(PROJECT_VERSION_PATCH "0")

here are deb packages:
https://launchpad.net/~ubuntuhandbook1/+archive/ubuntu/slowmovideo/+pa

[2016-02-08 18:32] petrica-celrau commented on #69
Thanks, will check it out tomorrow.

On Mon, Feb 8, 2016 at 3:46 PM, valgit <notifications@github.com> wrote:

[2016-02-09 07:08] Granjow commented on #75
The version number is defined here:
https://github.com/slowmoVideo/slowmoVideo/blob/master/src/slowmoVideo/lib/defs_sV.hpp

[2016-02-09 11:00] petrica-celrau commented on #69
all is good!

On Mon, Feb 8, 2016 at 8:32 PM, petrica celrau <petrica.celrau@gmail.com>
wrote:

[2016-02-09 12:28] PandaJim commented on #75
fixed, thanks!

[2016-02-09 12:51] valgit commented on #75
@PandaJim I would only said that it's "up to date". I think there is a need for better version handling.

[2016-02-09 15:59] #69 closed

[2016-02-10 08:29] valgit commented on #56
for what it worth I got it to compile with :

cmake -G "Unix Makefiles" -DCMAKE_OSX_SYSROOT=/Developer/SDKs/MacOSX10.11.sdk/ -DCMAKE_OSX_DEPLOYMENT_TARGET=10.10
under 10.10

[2016-02-16 09:48] viktorsmari opened #76 "Ubuntu 15.10 make fails"
Is it possible to get this working on Ubuntu 15.10?
And improve the instructions if it is possible.

[code]

[2016-02-16 17:30] valgit commented on #76
which Qt version did you use ? seems that Q_DECL_OVERRIDE has been introduce in Qt5.

[2016-02-16 17:45] viktorsmari commented on #76
QMake version 2.01a
Using Qt version 4.8.6 in /usr/lib/x86_64-linux-gnu

[2016-02-16 18:01] valgit commented on #76
@viktorsmari I think we can do a patch/correction easily  but I would use QT5 instead if I where you, it's way better than Qt5

[2016-02-16 18:42] viktorsmari commented on #76
I am having additional problems installing QT 5 which takes up additional 1GB of hd space and the installation estimates it will take up to 20 minutes. In my opinion, that is rather a high overhead.

Would be very nice to have it running without that trouble.

[2016-02-17 06:16] valgit commented on #76
@viktorsmari I've take a look at the wiki, lot's of info are a bit old but it's a good start ! Thanks for the input.

[2016-03-07 23:42] itf opened #80 "No top menu on Lubuntu 14.04"
On Lubuntu 14.04 there is no top menu when using the UI, which makes it impossible to render the video. Ubuntu 14.04 doesn't have this prolem.

[2016-03-08 08:20] valgit commented on #80
Hi @itf , I wasn't know what was _Lubuntu _! nwo after some google search I now know it's for LXDE !.
After some more researching, it's seem it's a more general problem with Lubuntu  (see: https://bugs.launchpad.net/ubuntu/+source/appmenu-qt5/+bug/1307619  ). Can you test/check what they say ? like removing** appmenu-qt5** (I don't kown what it's use for ;-)

[2016-03-10 02:02] itf commented on #80
removing appmenu-qt5  solved the problem!  Thanks!

[2016-03-10 02:02] #80 closed

[2016-03-10 11:19] narcisgarcia commented on #46
From granjow.net said me this is the best place to ask for packages for Ubuntu 14.04, Ubuntu 16.04 and Debian 8.
Could somebody link me some reference about how to provide a debian folder fro this to be spread?

[2016-03-11 17:10] valgit commented on #46
@narcisgarcia what do you look for ? a deb package or compilation hint ?

[2016-03-12 08:44] narcisgarcia commented on #46
pmo-19 commented that is needed a "debian folder" to get deb packaging
work. Some hint or reference about how to do this?

El 11/03/16 a les 18:10, valgit ha escrit:

[2016-03-12 11:32] valgit commented on #46
I think @pmo-19  was talking about the "debian" folder in slowmovideo code which is a bit out of date for a correct build of deb pkg.
from what I recall (I'm more used to fedora and OS X ;-) debian packaging refer to files in this folder for building *instructions*.
hope this help you @narcisgarcia

[2016-03-28 03:34] partofthething commented on #76
Just built it fine on 15.10 using the instructions on the wiki. Looks like this can be closed.

[2016-03-28 08:18] valgit commented on #76
@partofthething thanks for your input.

[2016-03-28 08:18] #76 closed

[2016-03-28 08:19] valgit commented on #75
close by PR #79

[2016-03-28 08:19] #75 closed

[2016-04-01 15:39] Ichthyostega commented on #46
Hello folks,
currently I am looking into debian packaging of slowmoVideo, just for a easy way to get it onto my system. It seems there is an exsiting debian package, albeit a bit outdated. I am fluent with debian packages and PPAs, maybe I can help out here...?

[2016-04-01 17:14] valgit commented on #46
Hi @Ichthyostega , it would be cool to have up to date debian package.If you can, let's do it !

[2016-04-02 23:24] Ichthyostega commented on #46
OK, did that.
- Hereby I'd propose to use a setup suitable for the tool 'git-buildpackage', which allows to generate a DEB package right from Git repo, with a single command. This configuration is fully compatible with the debian standard format (and indeed is used by many debian developers).
- @valgit sent you a pull request. Pls note, the "debian" branch is not meant to be merged to master
- see

[2016-04-02 23:45] Ichthyostega commented on #46
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

On 01.04.2016 19:14, valgit wrote:

Hello Valery,

done that now, and sent you a Pull request plus commented to the issue

New Packages are in my PPA
https://launchpad.net/~ichthyo/+archive/ubuntu/video

Changes are in my Git
https://github.com/Ichthyostega/slowmoVideo.git

I'd be glad to hear any feedback, comments, critique, follow-up discussion ;-)

[2016-04-03 12:12] pmo-19 commented on #46
Your point  may be valid, however most of the people looking in GitHub to build [debian] packages are well aware of how to build a Debian package. All they need is a working debian folder. At least for these users (like me), I don't see the added value of using yet another tool like your proposal for `git-buildpackage`. e.g.

`$ tar zxf slowmovideo_[version].orig.tar.gz`
`$ tar zxf slowmovideo_[ve

[2016-04-03 17:01] Ichthyostega commented on #46
It might seem easy going for you, but in fact, you should have a closer look. The debian folder in tree was not maintained (Note I do not want to blame anyone for that, since upstream has other stuff to do). And, what's important, this fact is not outright obvious. A naive user might just build the package from the outdated debian folder, and publish it into an PPA, with wrong version number and o

[2016-04-03 17:24] valgit commented on #46
@pmo-19 I understand your point, as it's mostly how I work. Now @Ichthyostega propose a "somewhat simpler" solution for those who are not really Ubuntu/linux expert. Maybe the two solutions can co-exist ?

[2016-04-03 20:49] pmo-19 commented on #46
@valgit Sure. That was my point. The 2 ways can co-exist. It will be up to the user to chose its way on building package(s).
You can keep / add a `'working' debian directory` in the master branch and have specific `debian branch` to be used with `not 'regular' tool(s)`.

[2016-04-04 08:52] valgit commented on #46
@Ichthyostega that would be a good thing, can you make the change ?
@pmo-19 thanks for the idea

[2016-04-04 13:25] pmo-19 commented on #46
[Reposting from the Pull Request]
@Ichthyostega Your new post is a further proof of your shifting objections to the `regular way` of dealing with a `debian folder` in upstream source.
So to summarize you first proposed a separate branch for your `managed debian folder` (this alone to me would be a first among all the apps I follow in GitHub).
You first objected to the presence of a `debian folder

[2016-04-04 13:42] valgit commented on #46
@pmo-19 great idea to provide a README.debian, there is already some 'outdated' information on wiki so it would be a great help

[2016-04-04 21:10] Ichthyostega commented on #46
seemingly the discussion goes on at two locations now. As said in the pull request, I don't see different models here. Rather the question is a question to the project: how and where do you want to maintain your debian packaging in Git? A lot of mixtures and special ways are conceivable, but basically you can
- put it in master and thus in the release tarballs
- put it on a separate branch

The la

[2016-04-05 05:37] valgit commented on #46
@pmo-19 did the proposed "separate branch" from @Ichthyostega which also seem to be the *official debian* way block you from using classical debian packaging ?

[2016-04-05 13:36] pmo-19 commented on #46
@valgit IMO the `proposed "separate branch"` is NOT the official `*debian*` way. The Debian organization has no business in ruling upstream code from developers. As I said in the other thread Debian has to adapt to whatever the source code is and if they believe they do not need part(s) of the source code they usually do so and rename the [source].[version] as [source].[version]+dfsg (for Debian F

[2016-04-05 20:09] Ichthyostega commented on #46
@pmo-19 you are missing the point.
What is _official_ from debian side is in the policy. What is _official recommendation_ is likewise in the [Recommendations](https://wiki.debian.org%0a/UpstreamGuide#Pristine_Upstream_Source). Please read those documents first, if you feel like arguing about what is "official".

Most importantly, what I propose here goes towards best practices, not towards being

[2016-04-06 08:28] valgit commented on #46
@pmo-19 from here : [https://wiki.debian.org/PackagingWithGit](PackagingWithGit), as stated by @Ichthyostega, his proposal is the way to go I think.

[2016-04-06 18:58] valgit opened #83 "opens version"
cmakefile should check the opencv version.

[2016-04-06 19:55] pmo-19 commented on #46
@valgit Then if you believe this is only way to go, go for it.
As long as the debian proposed folder is not named `debian` within the git master branch it is in no way interfering with any Debian processes. That was my point. And there are many other project using a debian folder named debian which do interfere with  Debian processes.
However as I mentioned above **Whatever @Ichthyostega is saying

[2016-04-06 20:29] pmo-19 commented on #46
Just for the record
@Ichthyostega @valgit OK. I will not argue anymore with you and good luck, I am bowing out and will keep my debian folders for myself. Your objective is to be the sole provider of a debian folder then you get it. Frankly I don't have time to lose with a psycho bible lecturer anymore ! I am not an evangelist.
Another point is you obviously didn't quit for long the aggressive ton

[2016-04-08 00:12] pmo-19 opened #84 "Current source is uanble to build V3D in any Linux distribution"
The current source I did checkout today is unable to build V3D in any Linux distribution.

[2016-04-08 00:14] pmo-19 commented on #84
OpenGL, GLUT and GLEW are installed properly however the following message pops up:
`* OpenGL could not be found.`
`* GLUT could not be found.`
`* GLEW could not be found.`
`* V3D will be built:                        ---NO---`

[2016-04-08 00:18] pmo-19 commented on #46
@valgit How is the climate in France ? Well, I have a fully working build for all supported Ubuntu systems now ready to be uploaded to my [PPA Photo Video Applications](https://launchpad.net/~anton+/+archive/ubuntu/photo-video-apps), with both Qt4 and Qt5 builds available.
There is though many differences in my debian folder vs. our **German tourist** @Ichthyostega version which look at best basic

[2016-04-08 00:27] pmo-19 opened #85 "Current source is unable to build Tests in any Linux distribution"
When setting ENABLE_TEST=ON the build fails.

[2016-04-08 00:53] enetheru commented on #46
This discussion has made me unfollow slowmovideo devopment primarily due to @pmo-19 's attitude.
I found no other way to provide feedback to this community privately, so here it is.

[2016-04-08 01:09] pmo-19 commented on #46
@enetheru Anyway I will leave for good this GitHub development site. You will get an opportunity to fix the remaining bugs. I will not provide anymore fixes / feedback.

[2016-04-08 09:16] valgit commented on #46
@enetheru I understand your point. this discussion turn into a debate between @pmo-19 and @Ichthyostega .

[2016-04-08 11:51] pmo-19 commented on #84
The disturbance is the side effect of one of my patches. You can close as invalid.

[2016-04-08 12:15] valgit commented on #84
close by PR #86

[2016-04-08 12:15] #84 closed

[2016-04-08 22:05] pmo-19 opened #87 "Current Git source is unable to build V3D in any Linux distribution [Confirmed]"
I am very sorry but after further investigation this evening, I confirm I stand by my initial report.
Your current `Git master source checked out yesterday` and available in my [own PPA](https://launchpad.net/~anton+/+archive/ubuntu/photo-video-apps) with packages `slowmovideo-qt4` and `slowmovideo` (qt5) couldn't build `V3D`:
`* OpenGL could not be found.`
`* GLUT could not be found.`
`* GLEW cou

[2016-04-08 22:34] pmo-19 opened #88 "Impossible to add a doc package with the current CMake files"
Trying to add a new slowmovideo-doc package will end up in Debian / Ubuntu with a `CMake` install which will not move / install the binaries at `usr/bin` and the desktop launcher at `usr/share/applications`, as the bin and applications directories are build empty.
The files stay in the debian `temp` directory.
Obviously `CMake files` were conceived to build only one package.

[2016-04-09 07:15] valgit commented on #87
you have not pull the latest commit from pr #86 I think, please check with that, don't be so proud.

[2016-04-09 07:15] #87 closed

[2016-05-22 09:00] evertvorster opened #89 "Unable to build current (2016-05-22) on Arch Linux"
I am the maintainer for the slowmovideo package in Arch Linux.
I need a bit of help with the compilation of this software. It used to compile fine not too long ago.

Currently, the source from git does not build. Here is an error log:

==> Building and installing package
==> Making package: slowmovideo-git 20160408-1 (Sun May 22 11:52:31 CEST 2016)
==> Checking runtime dependencies...
==> Checking

[2016-05-22 13:46] valgit commented on #89
at first I would say that there is a problem with OpenCV version/installation. What version of OpenCV is it ? where is it installed ?

[2016-05-22 13:47] valgit commented on #88
Can you give more explanation ?

[2016-05-22 14:14] evertvorster commented on #89
Hi there...

At the head of the compile log, it says it finds opencv 3.1

Arch also has an older version of opencv, but the two versions can not be
concurrently installed, and the other version is a required dependency of
software that I want installed....

It may be that OpenCV has changed quite a bit between major versions.
-Evert-

On 22 May 2016 at 15:46, valgit <notifications@github.com> wrot

[2016-05-22 14:34] valgit commented on #89
I haven't look in depth in OpenCV 3.x but I've already seen that significant change have been done which require a porting/updating of the slowmovideo code for work with it.

[2016-05-23 18:13] if13b023 opened #90 "flowBuilder on Windows?"
Hi,
I am using Windows10, the Windows binaries from the website and the correct ffmpeg version. The programs works in CPU mode but GPU would be even better ;)
I've searched on different websites, comment sections and one (not so nice) issue on this github page for information about a windows-flowBuilder binary.
The most recent answer to this question is from 2014, which says "no, there is no flowB

[2016-05-24 08:52] valgit commented on #90
Yes, nobody have been able to port this old "flowBuilder" to new OSes and/or other OSes

[2016-05-24 08:52] #90 closed

[2016-05-24 09:16] if13b023 commented on #90
So there is currently no way to use the GPU on Windows?
(maybe seems like a stupid question but I couldn't find anything about this in the documentation)

[2016-05-24 09:19] valgit commented on #90
as of today there is no way to use a GPU for slowmovideo under Windows nor OSX, even under Linux there is some limitations

[2016-05-26 04:53] valgit commented on #89
FWIW: OpenCV 3.x versus OpenCV 2.X, and how to port :
http://docs.opencv.org/3.1.0/db/dfa/tutorial_transition_guide.html#gsc.tab=0
http://stackoverflow.com/questions/29750616/maintaining-code-compatibility-between-opencv-2-and-opencv-3

[2016-06-01 22:16] poupouneroot commented on #89
oh no.
i'm not a dev but this software it's so great and i'm on a archlinux too.
thank you for your work but i'm reading your link for the transiton but it's much hard for me to apply.

[2016-06-02 12:12] valgit commented on #89
I'm working on it ! in the mean time, i think using _OpenCV_ 2.x is the best alternative in your case

[2016-06-02 12:52] poupouneroot commented on #89
thank for you reply but this solution is not conseivable because on archlinux opencv3 is the default with his dependency for other software already installed. archlinux is a rolling distribution with his advantages and his disadvantages

[2016-06-05 22:33] Obikawa commented on #57
I see this issue through the "Unix Philisophy" of "one task - one tool". After some usage of this program I realised that it's true function is to "multiply pictures". Everything else is currently performed by helper programs like ffmpeg.
My suggestion is to stop caring about how the videos are manipulated and simply expect an array of pictures as input. The output would be the appropriately modif

[2016-06-05 23:10] MathieuDuponchelle commented on #57
Well @Obikawa I think you earn the prize for dumbest statement of my day :D

[2016-06-13 22:02] asymystry opened #92 "X11"
hi all,

total software neophyte here encountering this on 'make':

[ 99%] Linking CXX executable slowmoFlowBuilder
cd /Users/resno6/dev/slowmoVideo/V3D/Apps/GL && /usr/local/Cellar/cmake/3.5.2/bin/cmake -E cmake_link_script CMakeFiles/slowmoFlowBuilder.dir/link.txt --verbose=1
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++    -Wall  -g -Wl,-search_paths

[2016-06-14 07:14] valgit commented on #92
from what I see, you are trying compiling under OSX. If, so, then don't bother trying to compile V3D, it doesn't work on OSX even in X11 mode.

[2016-06-15 20:13] asymystry commented on #92
thanks for the response valgit, and one more question: are there any known ways around this to run slowmoVideo on osx or am i better off trying something else for optical flow?

[2016-06-19 16:10] valgit commented on #92
@asymystry slowmovideo can run natively under OS X, no need for X11 ! you juste need QT5, and openCV. (not the latest version but you can check this : http://www.mediafire.com/download/weg32e02q75bbyy/slowmoVideo_10.7.zip for eg).
There is only the V3D part which doesn't work.

[2016-06-24 05:19] valgit commented on #89
close by PR #91

[2016-06-24 05:19] #89 closed

[2016-06-24 05:30] evertvorster commented on #89
It compiles against OpenCV3 now.
Thank you for the hard work!

[2016-06-25 13:33] poupouneroot commented on #89
merci beaucoup.

[2016-07-05 15:14] Spekular opened #93 "Lossless output"
As far as I can tell, there's no way to output lossless frames from slowmoVideo. It would be nice to have .png output or something similar for this purpose. Otherwise you end up losing quite a bit of data going from source footage->slow footage->edited footage->online compression on youtube etc.

Maybe there's a good reason this doesn't exist or I'm just not understanding how to do it, in which ca

[2016-07-05 15:30] valgit commented on #93
@Spekular if you want png output, you should select "images" as your ouput format in the render dialog.

[2016-07-05 15:39] Spekular commented on #93
@valgit I was confused because the default filenam ends with .jpg. I didn't realize renamongnit would change the actual output. Thanks, and sorry for the bad issue!

[2016-07-05 15:39] #93 closed

[2016-07-05 19:11] valgit commented on #93
@Spekular no problem ! In another way, I wonder if png should not be the default instead of jpeg ?

[2016-07-05 19:17] Spekular commented on #93
@valgit that would make sense.

[2016-08-15 21:00] quindo opened #94 ""ERROR: could not open display" after building on centOS"
I believe I have built all of the dependencies for slowmoVideo, but I receive the following error.  After it displays the following it just hangs and a reboot is needed to get back to the command line.  Does anyone have any ideas on what my problem might be?

2.4.5

slowmoRenderer for slowmoVideo v0.5-37-g5512607

Standalone Rendering.
  target dir   QDir( "/tmp/rendered" , nameFilters = { * },  Q

[2016-08-17 16:52] quindo commented on #94
I have not done anything specific with Xserver.  Is it a requirement?

[2016-08-18 18:18] valgit commented on #94
well, not really a "requirement", but slowmovideo is using QT for it's graphical interface, and under Linux QT is using X11 ;-) so under Linux you need to have a X11 display to run slowmovideo !

[2016-08-23 19:51] #94 closed

[2016-08-27 17:05] sigrokBlack opened #95 "Flow method setting not saving"
Hi,
when trying to change the flow methode from CPU to external, the setting is not saved and not applied to the current project.
I'm using a GTX750Ti, Ubuntu 16.04. I couldn't spot there the config file is saved.
The setting always switches to CPU after pressing ok and reopening the preferences menu

[2016-08-28 08:03] valgit commented on #95
can you post the console logs ?

[2016-09-07 06:01] valgit opened #96 "optical flow directory not created"
from G+ post https://plus.google.com/114041796452997502121/posts/CUwXji1tmiT

[2016-09-07 15:04] valgit commented on #96
will need to have better work on temp file

[2016-09-07 15:04] #96 closed

[2016-09-23 15:04] Green-Sky commented on #95
i kind of have the same "error"
log:
`.....
method is :  "V3D"
OpenCV Error: Unknown error code -6 (OpenCL function is not available: [clGetPlatformIDs]) in opencl_check_fn, file /build/opencv-SviWsf/opencv-2.4.9.1+dfsg/modules/ocl/src/cl_runtime/cl_runtime.cpp, line 83
Checking  "/usr/bin/slowmoFlowBuilder"  ...
"/usr/bin/slowmoFlowBuilder"  is valid.
Checking  "/usr/bin/slowmoFlowBuilder"  ...
"

[2016-09-23 15:30] Green-Sky commented on #95
some how fixed it by installing the cuda-toolkit

[2016-09-23 18:18] valgit commented on #95
@Green-Sky forum what I see in your log, there is a bug when you choose an "external method" but the check for available method fail ! I will try to take a look at what is going on there !

[2016-09-25 19:16] Vylaern opened #98 "Slowmovideo error"
Hi,

I use stable Gentoo and I was using slomovideo for over a year. After last system update I have an error, back-trace bellow. Maybe you have an idea which package is causing the problem?
http://pastebin.com/sFcacAB9

[2016-09-26 16:47] valgit commented on #98
@Vylaern  I can't see what is going on... can you post a gdb stack trace ? another hint seen from some other projects : there seems to have bug between OpenCV and QT4/QT5 under Ubuntu... can you check that ?

[2016-09-27 20:06] Vylaern commented on #98
[1] How to post gdb stack trace?

[2] I use OpenCV 2.4.12-r1 - should I try any 3.x or 3.1?

[3] I was using slowmovideo before, but forgot after which package update I cannot start now.

[2016-09-28 12:10] valgit commented on #36
@Keeo , @vylaern could you recheck with latest patch ?

[2016-09-28 12:32] Keeo commented on #36
Sorry, It was year ago and I don't have environment anymore to test that

[2016-09-28 12:37] Vylaern commented on #36
I recompiled nvidia-cuda-toolkit yesterday and opencv with cuda and opencl flag, did not help.
Now I compile also nvidia-cuda-sdk, maybe this was missing, will rebot system and check again. Then I will try your source again as well and let you know. I also have gdb installed in the case.

[2016-09-28 13:15] Vylaern commented on #36
I could confirm, I have no errors during compilations (source from git) and slowmoUI starts.
I am going with my other problems back to: https://github.com/slowmoVideo/slowmoVideo/issues/98#issuecomment-249626918

[2016-09-28 13:30] Vylaern commented on #98
Right,

[1] I have gdb, so I will sent results soon, as gentoo package, based directly on git stil doesn't work (compilation is fine).

[2] I did manage run slowmovideoUI build on sourecs from git, thank you for the pathch: https://github.com/slowmoVideo/slowmoVideo/issues/36
Is quite strange, as gentoo package depend on sources directly from git :/ will as on Gentoo forum

[3] However, when I run

[2016-09-29 15:22] valgit commented on #98
@Vylaern for V3D : did you set the path to the V3D binary ? for GPU : did you have a working OpenCV-OpenCL ?
can you post the logs ?

[2016-09-30 07:39] Vylaern commented on #98
@valgit  I think I have OpenCV-OpenCL, but I am not sure.

Opencv is recompiled with both cuda & opencl flag:
http://pastebin.com/qNTVgcqr

I have:
*  dev-util/nvidia-cuda-sdk
      Latest version installed: 7.5.18
*  dev-util/nvidia-cuda-toolkit
      Latest version installed: 7.5.18-r2

# eselect opencl list
Available OpenCL implementations:
  [1]   mesa
  [2]   nvidia *

Eg. in Gentoo, when I c

[2016-09-30 19:19] iqqmuT opened #99 "Snap package"
Would it be a good idea to build a snap package for slowmoVideo?

[2016-10-01 07:59] valgit commented on #99
what is a "snap" package ?

[2016-10-01 08:01] valgit commented on #98
@Vylaern there seem to be missing X11 libraries in the link command, maybe a bug in make makefile for V3D

[2016-10-01 08:02] #92 closed

[2016-10-01 08:39] iqqmuT commented on #99
Sorry I didn't explain it better, a snap is a new universal package format for different Linux distributions. They were introduced to Ubuntu in 16.04 version.

AFAIK dependencies are bundled within the snap package, so I guess it would be easier to maintain, for example the snap package would contain the correct Qt libraries.

http://snapcraft.io/

[2016-10-01 16:51] Vylaern commented on #98
@valgit
[1] I fixed a problem with Gentoo package, an update of opencv from 2.4.12-r1 >> 3.1.0-r5  fixed the issue.
[2] So only I have a problem with v3d. Gentoo package has an error at 100%, and I have no idea how to compile slowmovideo from source from git. Time ago, when I was compiling from the source, I had to use
$ ./configure
before
$ make
I could not find such $ ./configure optin in slowmo

[2016-10-01 20:03] valgit commented on #98
@Vylaern your cake *phase* is more or less equivalent of *configure*. so now, as with *configure* just to a *make" !

[2016-10-01 21:21] Vylaern commented on #98
http://pastebin.com/xdk34bpF
Do you have any idea? Maybe this from^^ 176 line?

/usr/lib64/libX11.so.6: error adding symbols: DSO missing from command line

[2016-10-02 12:52] valgit commented on #98
@Vylaern this one is a "long running one", but I don't understand where it come from, the only thing I have is a missing dependency in the cmake linker

[2016-10-03 10:44] jakesonline opened #100 "Windows exe please"
Please post Windows executable. 64 bit

[2016-10-03 12:17] valgit commented on #100
@jakesonline you can find a win64 exe here : (http://www.mediafire.com/file/23tbebr8aqy1bxc/slomovideo_win64.7z), but it's not the latest one. Creating a win64 binary is complicated !

[2016-10-03 20:05] jakesonline commented on #100
Thanks!

[2016-10-05 16:59] valgit commented on #36
@Vylaern thanks for your check.

[2016-10-06 20:54] scottlawsonbc opened #101 "Download page not displaying correctly"
The [website download page](http://slowmovideo.granjow.net/download.php) is not displaying correctly on the Edge browser or the latest version of Chrome. My OS is Windows 10.

Edge browser:
![image](https://cloud.githubusercontent.com/assets/2927085/19170120/feebfe0e-8bcb-11e6-8cf7-ca291d98b939.png)

Chrome:
![image](https://cloud.githubusercontent.com/assets/2927085/19170208/5a78c25c-8bcc-11e6-85

[2016-10-08 13:35] Granjow commented on #101
Thank you, fixed!

[2016-10-08 13:35] #101 closed

[2016-10-09 15:09] diehummel opened #102 "segfault when rendering "second" video file"
Ubuntu 16.04
Kernel 4.8.1
OpenCV 3.1
(HW: Intel 5930k, Nvidia 1080 GTX Driver 370.28)

**reproduce:**
1. start and create NEW project.
2. Edit the vido
3. Render it (no matter if video or image)
4. delete files from work dir (because they dont't get deleted automaticaly)
5. create NEW project
6. edit
7. render
before it starts to render, its crashing.

**cmake log:**
cmake -DENABLE_TESTS=FALSE -DC

[2016-10-10 14:14] valgit commented on #102
hi @diehummel , can you test the latest PR: #103 ?

[2016-10-10 14:55] diehummel commented on #102
Hi,

yes, with that correction it is not crashing any more. thanks a lot.

[2016-10-10 18:03] #102 closed

[2016-11-17 16:39] grota commented on #95
I this my #107 can fix this

[2016-11-17 17:26] valgit commented on #95
great @grota  thanks for closing

[2016-11-17 17:26] #95 closed

[2016-11-26 17:56] diehummel opened #110 "SEGFAULT again since last update"
Hi,

i again get an Segfault dirung rendering with the actual source code.

Qt 5.7:
Writing flow file /media/chris/SSD1GBe4/Video/SloMo/work/cache/oFlowOrig/ocv-backward-100-99.sVflow: 848x480, version 1, magic number flow_sV
Read flow file of size 848×480. Magic number: flow_sV, version: 1
Read flow file of size 848×480. Magic number: flow_sV, version: 1
Read flow file of size 848×480. Magic numb

[2016-11-27 09:10] valgit commented on #110
under gdb, can you provide a backtrace of all threads ?

[2016-11-27 11:57] diehummel commented on #110
ok, but now, i downloaded the current git branch and cannot compile..

/home/chris/Downloads/slomoworig/slowmoVideo/src/slowmoVideo/project/flowSourceOpenCV_sV.cpp: In member function ‘virtual FlowField_sV* FlowSourceOpenCV_sV::buildFlow(uint, uint, FrameSize)’:
/home/chris/Downloads/slomoworig/slowmoVideo/src/slowmoVideo/project/flowSourceOpenCV_sV.cpp:201:27: error: ‘class cv::DenseOpticalFlow’

[2016-11-27 13:28] valgit commented on #110
@diehummel what is your version of OpenCV ? what are your compilations options ?

[2016-11-27 13:52] diehummel commented on #110
No Special Options.

OPENCV 3.1.0

`cmake ../src
-- Using qt5
Qt libraries found at : Qt5::Gui /
-- checking: avformat.h
--           /usr/include/x86_64-linux-gnu/libavformat
-- checking: avcodec.h
--           /usr/include/x86_64-linux-gnu/libavcodec
-- checking: avutil.h
--           /usr/include/x86_64-linux-gnu/libavutil
-- checking: swscale.h
--           /usr/include/x86_64-linux-gnu/libsws

[2016-11-27 14:05] diehummel commented on #110
I will check my OPENCV installation. Try latest from git.

[2016-11-27 14:07] valgit commented on #110
@diehummel let us now, as the travis build is Ok with latest branch

[2016-11-27 14:23] diehummel commented on #110
hm i am not sure waht i miss.

older versions on slowmo still can be compiled.

i have now lates OPENCV 3.1.0 from git incl. contrib modules and still:

/home/chris/Downloads/slomoworig/slowmoVideo/src/slowmoVideo/project/flowSourceOpenCV_sV.cpp: In member function ‘virtual FlowField_sV* FlowSourceOpenCV_sV::buildFlow(uint, uint, FrameSize)’:
/home/chris/Downloads/slomoworig/slowmoVideo/src/slowmo

[2016-11-27 16:59] diehummel commented on #110
i was able now to compile it with this changes in flowSourceOpenCV_sV.cpp:

// cv::Ptr<cv::DenseOpticalFlow> tvl1 = cv::createOptFlow_DualTVL1();
                        cv::Ptr<cv::DualTVL1OpticalFlow> tvl1 = cv::createOptFlow_DualTVL1();
                //    tvl1->set("lambda", lambda);
                        tvl1->setLambda(lambda);
                //    tvl1->set("tau", tau);

[2016-11-27 17:00] diehummel commented on #110
and then i tried to render and here is gdb trace (sorry very long with memory dump)

`
Writing flow file /media/chris/SSD1GBe4/Video/SloMo/work/cache/oFlowOrig/ocv-forward-89-90.sVflow: 848x480, version 1, magic number flow_sV
Read flow file of size 848×480. Magic number: flow_sV, version: 1
*** Error in `/usr/local/bin/slowmoUI': double free or corruption (out): 0x00007fffd50980b0 ***
======= Bac

[2016-11-27 17:42] diehummel commented on #110
now i had an:

Thread 1 "slowmoUI" received signal SIGSEGV, Segmentation fault.
0x00007ffff3fa0469 in malloc_consolidate (av=av@entry=0x7ffff42e5b20 <main_arena>)
    at malloc.c:4173
4173	malloc.c: No such file or directory.

See full gdb trace attached
[gdb.txt](https://github.com/slowmoVideo/slowmoVideo/files/614862/gdb.txt)

[2016-11-28 15:28] valgit commented on #110
@diehummel  not sure, but seem to be an openCV memory bug. need more investigation

[2016-11-29 08:13] valgit opened #111 "compilation fail in some env since PR #109"
the PR #109 ( Provide TVL1 optical flow algo) create some compilation error in some env (see issue #110 for eg.)
@diehummel provide some hints :

manual of OpenCV 3.1 (http://docs.opencv.org/trunk/dc/d47/classcv_1_1DualTVL1OpticalFlow.html) info said that we need to include : `#include "tracking.hpp"` we need to check for that.

[2016-11-29 09:55] diehummel commented on #111
i missed

tvl1->setEpsilon(epsilon);

on the copy/paste.

[2016-12-02 14:05] diehummel commented on #110
its really random segfault

tried with opencv with cuda now and with GPU render instead opencl

2 segfault
first run:
Thread 6 "QThread" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffda22f700 (LWP 18875)]
0x00007ffff65ce8d8 in ?? () from /opt/Qt/5.7/gcc_64/lib/libQt5Gui.so.5

second run:
Object::connect: Cannot queue arguments of type 'QTextCursor'
(Make sure 'QTextCursor

[2016-12-02 14:29] valgit commented on #110
well @diehummel , I don't see where is the problem ! I will try to build an Ubuntu 16, to check.

[2016-12-07 07:32] diehummel commented on #110
It seems to be an issue with the new logbrowser code in src/slowmoVideo/slowmoUI/main.cpp
gdb > bt always tells me that theres a problem

[2016-12-07 08:25] valgit commented on #110
@diehummel thanks for the input, will try to look at that !

[2016-12-07 13:42] valgit commented on #111
close by PR #113

[2016-12-07 13:42] #111 closed

[2016-12-07 13:43] valgit commented on #110
@diehummel could you test the latest commit ?

[2016-12-07 15:21] diehummel commented on #110
Rendering is running now without SIGSEGV, but on the end of the rendering i always get
Could not read image /media/chris/SSD1GBe4/Video/SloMo/work/frames/orig/frame00449.png

and no mp4 video output file is written.

[2016-12-07 16:12] valgit commented on #110
@diehummel can you post the first few lines  about frame extraction of original file ? can you post the few lines around  your error ?
thanks

[2016-12-07 16:54] diehummel commented on #110
Attached the complete output.
the "Could not read image"
message only appears in an popup of the gui
[slowmo_out.txt](https://github.com/slowmoVideo/slowmoVideo/files/637214/slowmo_out.txt)

[2016-12-08 09:54] valgit commented on #110
Hi, @diehummel , could you paste the content of the log window ? your slowmo_out.txt does not contain the informations I am looking for ;-)

[2016-12-08 11:30] diehummel commented on #110
![bildschirmfoto vom 2016-12-08 11-57-41](https://cloud.githubusercontent.com/assets/18324187/21008398/dba4c01e-bd41-11e6-9a1a-5eee5439c48e.png)
Thats all i see.

I'm also looking for more information :). It likes it just doesn't call ffmpeg at the end to create the video file.. or something that way.

[2016-12-08 13:28] valgit commented on #110
@diehummel, I did'nt mean the dialogbox ! You could open the debug window from the "window" menu !

[2016-12-08 13:57] diehummel commented on #110
ahhhh that one :D
[logfile.txt](https://github.com/slowmoVideo/slowmoVideo/files/639584/logfile.txt)

[2016-12-08 14:11] valgit commented on #110
thanks @diehummel . Did you know how many frames you have in your original video ? (here : /media/chris/SSD1GBe4/Video/SloMo/work/frames/orig/ )

[2016-12-08 14:14] diehummel commented on #110
about 240. vlc does not show it.
its about 1 second long and it has 240 fps(gopro wvga 240fps record).

[2016-12-08 14:53] valgit commented on #110
@diehummel I would like to know, how many files there are in  /media/chris/SSD1GBe4/Video/SloMo/work/frames/orig/  ! maybe first and last name ?

[2016-12-08 16:16] wil93 opened #114 "Segfault on Wayland backend"
[code]

[2016-12-08 17:26] diehummel commented on #110
frame00001.png to frame00448.png

[2016-12-10 22:02] valgit commented on #114
can you give more informations ? output log ? version ? how to reproduce ?

[2016-12-11 08:34] valgit commented on #110
@diehummel, it seems there is a "off by one" somewhere when calculating the number of frame

[2016-12-13 21:37] gree303 opened #116 "Debian compiling error"
After installing all required  packages I receive the following error:
`Building CXX object slowmoVideo/project/CMakeFiles/sVproj.dir/moc_work_flow.cxx.o
Reaping winning child 0x263b690 PID 3006
Live child 0x263b690 (slowmoVideo/project/CMakeFiles/sVproj.dir/moc_work_flow.cxx.o) PID 3011
Live child 0x2620590 (slowmoVideo/project/CMakeFiles/sVproj.dir/abstractFlowSource_sV.cpp.o) PID 3008
Reaping w

[2016-12-14 09:18] valgit commented on #116
@gree303 can you paste your cmake log file ? and your QT version ?

[2016-12-17 08:21] valgit commented on #110
@diehummel , can you check with the PR #117 if this is ok for you now ? this PR should correct your last problem !

[2016-12-17 08:22] #43 closed

[2016-12-18 14:19] diehummel commented on #110
Hi, @valgit ,

now i get
[Thread 0x7fffcb2cc700 (LWP 11647) exited]
terminate called after throwing an instance of 'Error_sV'

Thread 1 "slowmoUI" received signal SIGABRT, Aborted.
0x00007ffff49a8428 in __GI_raise (sig=sig@entry=6)
    at ../sysdeps/unix/sysv/linux/raise.c:54
54	../sysdeps/unix/sysv/linux/raise.c: Datei oder Verzeichnis nicht gefunden.

right after "GO" for rendering and also when

[2016-12-18 14:22] diehummel commented on #110
On which OS are you developing and testing?

[2016-12-18 17:50] valgit commented on #110
@diehummel : under ubuntu 14 LTS and/or OS X 10.11 why ?

[2016-12-18 18:10] diehummel commented on #110
was just thinking that when the git version is working in your environment, where you are developing, what can be the root cause in my environment - 16.04. for these errors. Would be interessting to compile in a newly installed 14.04 or 16.04 and see if it runs without any issues. OSX i have 10.12 but i never tested cause rendering on macbook air would be too slow. I#m wondering it other 16.04 use

[2016-12-19 08:35] valgit commented on #110
@diehummel , I have a 16.04 on the way, but no time to finish ;-)
I just give a quick look at your error, I wonder if it's not cause by PR #115  from @grota which may have change some prefs... could you reset your prefs ?

[2016-12-19 09:26] diehummel commented on #110
ahh, i renamed the .config/Granjow directory, now it works.
Only thing, now i can't choose "OpenCV with OpenCL"
![bildschirmfoto vom 2016-12-19 10-24-59](https://cloud.githubusercontent.com/assets/18324187/21307392/9c711e5a-c5d5-11e6-8b23-219529d2fa58.png)

[2016-12-19 10:11] diehummel commented on #110
Just for info. I have changed now PNG to BMP again and with flowbuilder its is now really awesome fast (i use an GTX 1080). I don't know.. 10 times faster min. i would say.

[2016-12-19 10:20] valgit commented on #110
@diehummel  how did you build flowbuilder on 16.04 ?

[2016-12-19 10:29] diehummel commented on #110
all default. before changing the .png to .bmp in the src dir. i also tried with flowbuilder, but it was slower then CPU,OpenCV. But i will try then again with original PNG source. but now i wait for finish the render to check the quality with bmp and the fast flowbuilder rendering

cmake ../src/
-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check

[2016-12-19 10:35] grota commented on #110
hi guys, sorry to barge in, I can say that in #115 I made it so that when using OpenCV 3.x.x the opencl setting is disabled because in version 3 it does not make sense anymore, since opencv 3 uses the unified architecture, meaning that if the runtime makes it possible the algos already use opencl "behind the scenes".
Also I see the TVL1 is enabled by default which we should probably change (and ma

[2016-12-19 10:58] diehummel commented on #110
so tested now again with png files and its the slowest rendering.
Also extracting the frame to png files takes longer then to bmp.

I stay with bmp files :)

maybe in future you can add a feature to choose between bmp or png for extraced frames and rendered files. PNG if not much free space, BMP for faster processing, but 3 times disk space min wil be needed.

@grota  thanks for explanation
@valgi

[2016-12-19 12:01] diehummel commented on #110
about bmp: theses are my changes.

src/slowmoVideo/slowmoUI/dialogues/renderingDialog.ui:               <string>rendered-%1.bmp</string>
src/slowmoVideo/project/exportVideoRenderTarget.cpp:    m_filenamePattern = "rendered-%1.bmp";
src/slowmoVideo/project/imagesRenderTarget_sV.cpp:    m_filenamePattern = "rendered-%1.bmp";
src/slowmoVideo/project/motionBlur_sV.cpp:        QString name = QString("%

[2016-12-19 14:21] diehummel commented on #110
about bmp.

[2016-12-19 14:23] diehummel commented on #110
sorry.. my BMP change is running without any issues when running GDB.
Staring slowmoUI without GDB most result in "Unkown or unsupported image file extension."

in ../src/V3D/Base/v3d_image.cpp in Line 195.
But sometimes it workjs also outside of GDB.

However.. this is a bug of my own change.

[2016-12-19 17:41] #110 closed

[2016-12-23 22:08] valgit opened #118 "better internal/intermediate file format"
as per @diehummel in issue #110 , a better internal format (like maybe bmp) could be a big performance improvement

[2017-01-04 20:31] m93a opened #119 "Ignore identic frames"
Some programs (eg. Movie Maker) can't deal with the optical flow so when you slow a video down, instead of computing the missing frames they just repeat one frame many times. It would be awesome if Slomo Video recognized those identic frames and acted as if they weren't there at all. This would mean I could edit the speed of the video in Movie Maker (it has simple preview, supports music etc.) and

[2017-01-08 20:52] Vylaern opened #120 "GPU support (flowBuilder) - how?"
Hi,

I was using for many times slowmo for Gentoo, and now a git version to compile.

How could I use flowBuilder (as in preferences is now greyed)? Should I compile it separatley? If yes, how? I use nvida card.

[2017-01-09 07:19] valgit commented on #120
@Vylaern normaly flowbuilder is build as part of the slowmovideo build. So dit you check the build was Ok ?

[2017-01-17 13:48] tetris-11 opened #121 "Request: Manual set final frame number"
I've noticed that quicktime h264 encoded videos import strangely, where all frames are loaded in to the slowmoUI canvas, but the final frame is too low (less than the number of actual frames).

(ffmpeg encoded h264 videos load fine though)

I'm sure correctly detecting the max number of frames is non-trivial, but I was wondering if you could add an option in Project -> Preferences to manually set

[2017-01-17 14:48] tetris-11 opened #122 "60fps videos do not render in 60fps"
As in, they do (output file is also 60fps) -- but they appear to running at half speed.

Input file: [out.zip](https://github.com/slowmoVideo/slowmoVideo/files/711360/out.zip)
Setup: Linear (1x) line from start to end of video
Render Settings:
     - 60 frames per second
     - Size: small    - Interpolation: Forward interpolation (fast)
     - Optical Flow: OpenCV - Farneback  [Levels, WinSize, P

[2017-01-18 10:41] valgit commented on #121
hi @tetris-11 , I remember that  there as an "of by one" error in framing counting corrected in last commit. What was your version you use ?

[2017-01-18 14:17] tetris-11 commented on #121
I was using v0.5-117-g5abd933

The problem seems to only persist in QuickTime .mov files over a certain time limit (>5 mins) from the same video source. If I convert them with ffmpeg they seem to detect fine, so it's probably just bad headers on my side.

I can upload a video if you want to play around (~200M), but I'm happy to close this otherwise

[2017-01-18 15:51] #121 closed

[2017-01-19 06:21] valgit commented on #121
well, so, @tetris-11 I keep the information just in case ! thank you

[2017-02-13 13:10] victoralbenor commented on #100
Is there a link to Windows CLI version?
I am having trouble compiling.
Thanks

[2017-02-19 08:09] valgit commented on #100
@victoralbenor I am not aware of somebody having already compile the CLI version for windows

[2017-02-23 01:59] mbardeen commented on #116
Install the QT5 dependencies mentioned in the install guide.

[2017-02-27 05:29] evertvorster opened #123 "Compile error 2017-02-27"
Hi there.
I am the maintainer for the slowmovideo-git package in Arch.
It was recently reported that the package does not build anymore.

I tried to build it myself and I get this error:
--------------snip--------------
[ 30%] Building CXX object slowmoVideo/project/CMakeFiles/sVproj.dir/xmlProjectRW_sV.cpp.o
/var/tmp/yaourt-tmp-evert/aur-slowmovideo-git/src/slowmoVideo/src/slowmoVideo/project/xml

[2017-02-27 05:33] evertvorster commented on #123
I did a bit of searching... could this be related?

http://stackoverflow.com/questions/4672152/call-of-overloaded-function-is-ambiguous/4673320

[2017-02-27 15:50] valgit commented on #123
@evertvorster : I don't know what's going on since this part of code hasn't change since age ;-) what is your compiler version ? QT version ?

[2017-02-28 08:19] evertvorster commented on #123
I have qt at version 5.8.0-5 and gcc at version 6.3.1-1
I don't know either, and I have not recompiled your software on my system in a long time.

[2017-02-28 09:48] valgit commented on #123
@evertvorster from what I see looking around, the problem came from GCC 6.x !
quoting some other people :

but I don't know if there are ways to tell GCC to be less sensitive !

[2017-02-28 14:18] #116 closed

[2017-03-01 12:17] evertvorster commented on #123
Hi there.

From what I can tell this is a bug. I have seen other software with the same compiler bug, and they fixed it because at some point everyone will be compiling with gcc 6. From the link I put into one of my earlier comments, it would appear that it is a matter of telling the compiler which variation of "0" you want, and then the error is fixed.

[2017-03-01 13:42] valgit commented on #123
@evertvorster can you check my latest pull ?

[2017-03-02 06:37] evertvorster commented on #123
Hi there.
I see no change on the error message. Thanks for trying, though.

[2017-03-03 05:33] evertvorster commented on #123
Hi there.
I don't see any changes to master branch since Dec 2016. With a little more investigation I see that the fix you propose is only a pull request, so it did not apply to my copy of the git.

Where can I find some help on how to merge a pull request on my local copy of the source base?

Also, your fix may still work, apparently I never tried it... :)

[2017-03-03 05:54] evertvorster commented on #123
Aha. I finally got your changes merged in.... it took a few minutes to figure out how you organized your source.
I checked out your version of slowmovideo from github, and the correct branch.
Finally I am able to compile slowmovideo on my system.
You should be OK to merge this change into the master on the slowmovideo git repo.

Kind regards,
Evert

[2017-03-03 09:48] valgit commented on #123
thanks @evertvorster

[2017-03-03 09:50] valgit commented on #123
patch #124 has been merge in master resolving this issue.

[2017-03-03 09:50] #123 closed

[2017-03-06 02:05] cadeatkins opened #125 ".sVproj files"
I am having a problem opening and for that matter changing them into a proper .mp4 and/or .avi format is there any way I can?
(PS- I am totally new to this ;)

[2017-03-06 09:23] valgit commented on #125
@cadeatkins svproj files are "project file" for the applications. Creating an mp4 and/or avi is done by "exporting". maybe you can read the documentation for better explanations ?

[2017-03-06 09:23] #125 closed

[2017-03-09 08:07] stkAnon opened #126 "dependency"
requires qt5-devel on fedora.

just something for the wiki, which still lists qt4

[2017-03-19 16:38] Atemu opened #128 "Very slow downloads for windows executables on website"
It downloads at about 65KB/s which is unacceptable for a 30-90MB file.

It's not throttling on my end, the speedtest says that my full bandwidth can be used (~4.8MB/s).

http://slowmovideo.granjow.net/download.php
http://slowmovideo.granjow.net/builds/slowmoVideo_0.3.1+d356d79_win32.7z

[2017-03-19 22:27] Granjow commented on #128
@Atemu Thanks for the report. I am looking into it – first thought it was my connection only, but if you observe the same, it is not.

[2017-03-24 15:27] Bernhard10 opened #129 "Program crashes with error "std::bad_array_new_length" on Debian stretch"
slowmoRender (built from source from the master branch) crashes on my laptop with the following error:

[code]

I ran
[code]
(it is a AVCHD video with 50fps)

[2017-04-02 07:53] valgit commented on #129
@Bernhard10 can you provide more information ? what OS ? version ?
may be can you reproduce it under gdb ?

[2017-06-19 18:07] Saren-Arterius opened #130 "Incorrect slowmoRenderer command leads to rm -rf to related directories"
# What
I was figuring out how to utilize multiple CPU cores so I would like to experiment with the command line and perhaps apply GNU parallel.

However during the experiment my home is completely wiped out due to incorrect usage on `slowmoRenderer`.

Luckily I have hourly btrfs snapshot so restoring takes only few minutes without panic, no damage has been done except Dropbox client is confused.

[2017-06-20 12:40] valgit commented on #130
@Saren-Arterius this seem to be cause by the "delete pref" ... will check that

[2017-07-02 05:02] tabacha opened #131 "debian build README.osx nicht gefunden"
[code]

[2017-07-02 05:10] tabacha commented on #131
Siehe PullRequest #132

[2017-07-10 06:21] #131 closed

[2017-07-10 06:21] valgit commented on #131
thank you @tabacha

[2017-07-17 01:28] funjup opened #135 "slowmoUI doesnt update working project file when Save As"
On Windows 10.
Have a project named "Project1.sVproj".
Make some changes, but don't want to overwrite old project so Save As "Project2.sVproj".
Save is successful, but the current project remains the Project1.sVproj file, instead of switching to Project2.
Therefore any future Save (not SaveAs) would still mistakenly overwrite Project1, instead of amending Project2.

Seems like an easy fix.

Good w

[2017-07-17 18:14] valgit commented on #135
@funjup which version did you use ?

[2017-08-24 23:56] metal3d opened #137 "Fedora 26 - crashes"
Hi,
Compiled without any error, installed in default place:

[code]

[2017-08-25 00:01] metal3d commented on #137
Ok, that was because it compiled with QT4, installed QT5 and now it works

[2017-08-25 00:01] #137 closed

[2017-08-27 05:30] metal3d opened #138 "Fedora 25-26 requirements"
Hi,
In that page: http://slowmovideo.granjow.net/download.php
Fedora dnf command should install qt5-devel instead of qt4-devel. With QT4, slowmoUI crashes even if it compiles.

Thanks a lot.

[2017-08-29 10:54] metal3d opened #139 "Trying to create new RPM - libV3D dependency"
Hi,
I created a new specfile to build RPM on fedora 26 (fedora 25 won't work) and the build is ok (rpmplint is ok too). I do this package to build git HEAD and to be able to provide this to rpmfusion.

The problem appears when I want to install the package:

[code]

When rpm is built, I actually find that dependency:

[code]

I tried to find if any of binaries are linked to libV3D.so but there are

[2017-08-29 14:07] metal3d commented on #139
see #140 that resolves that problem

[2017-08-29 19:50] valgit commented on #139
thanks @metal3d I merge your request but uno why there is this dependency

[2017-08-30 14:05] metal3d commented on #139
rpm build is very complete and checks different kinds of compilation. If it find a cmake build, so it will resolve what is configured inside.
Because your configuration didn't say that libv3D is "static", so rpmbuild find that the binary will need a dynamic library.
That's very efficient to not forget something, and to be sure that the build is not broken. That was the case ;)

[2017-08-30 14:06] #139 closed

[2017-09-01 18:14] Ravirael commented on #138
I guess I have the same problem. On stdout I get the stack trace and reason of crash:

[2017-09-22 15:29] java-py-c-cpp-js opened #141 "Ubuntu 16.04 PPA"
Could you please add an build for Ubuntu 16.04 to the PPA?

[2017-09-22 22:52] metal3d commented on #138
I proposed a RPM to rpmfusion, at this time, no answer...

[2017-09-22 23:02] metal3d commented on #138
EDIT: someone will sponsor the package, so it will be available soon I guess, as soon as I make the needed fixes in my RPM

[2017-10-05 13:19] EoD commented on #53
I am pretty sure the issue here is fixed by now. Compiling seems to be fine and  the ``gpumat.hpp`` does belong to the opencv package:

[code]

[2017-10-05 13:37] EoD opened #142 "Gdk errors with Qt5"
I compiled the binary from source and it starts up fine. But whenever I try to "open" a file I get the following errors and the program just hangs.

[code]

After it hangs, I stopped it via SIGINT and got the following backtrace from gdb:
https://gist.github.com/EoD/81268e183dfc4ede6464cfaa2bacf810

I tried both current git HEAD and tag v0.5 and I am using Qt5.

I installed all the dependencies li

[2017-10-06 13:29] valgit commented on #142
@EoD from memory I think you should remove all qt4 dependancies and just add the new QT5 one before compiling.

[2017-10-07 19:33] EoD commented on #142
@valgit That's not (easily) possible without breaking my system. Isn't there some other way around?

[2017-10-26 21:46] JobLeonard opened #143 "Problems with Anaconda + cmake + Qt5, and solution"
Well, this may be a bit odd, but here goes: I _had_ a problem building from source and I figured it before I could ask for here :P

Did a quick search and didn't see any other issues mentioning this, so I'm opening+insta-closing this, to save the next person who might run into this some time ;)

Also, I haven't mastered the command line and use a WYSIWYG text editor in my solution, so someone else

[2017-10-26 21:46] #143 closed

[2017-11-14 18:26] unfa opened #144 "libavcodec53 dependencies are unsatisfiable"
Hey!
I recently learned about slomwoVideo, and I wanted to give it a try.

I have downloaded and attempted to install this file:
http://slowmovideo.granjow.net/builds/slowmoVideo_0.2.4-1_ubuntu11.10_i386.deb

But it failed to resolve dependencies:
![image](https://user-images.githubusercontent.com/491704/32797306-ab91d3ac-c971-11e7-8cd7-12113048ba9c.png)

It seems that this program have not seen a

[2017-11-14 18:48] valgit commented on #144
@unfa you should upload and/or build a more recent version. The one you use is deprecated.

[2018-01-01 12:15] timothy-godfrey opened #145 "Segfault?"
Hello!

I've built slowmoVideo from source on Ubuntu 17.10. When I run File -> Render preview the program crashes and all the windows close (before I can read the debug window output). Output in the terminal is
[code]
Anybody else getting a similar problem? Any tips to look into it further?

Thanks!

[2018-01-01 18:41] valgit commented on #145
@timothy-godfrey if you build from latest sources, maybe you can open the log window before rendering to have more log information in helping !

[2018-01-02 00:00] timothy-godfrey commented on #145
Thanks for the reply.

One of the challenges is that the Debug window (I couldn't find a Log window) is closing immediately when the application crashes, before I can read any output.

I opened the project in Qt Creator and tried debugging the application there. I tried running slowmoRenderer from the command line (as a Qt Creator run configuration) similar to the example in the github wiki, and t

[2018-01-02 09:35] valgit commented on #145
@timothy-godfrey , it's like your project as not yet been correctly saved, so working directory is missing. (well we need a better test on that I think ! )
as for the log window it's in the about menu if I remember correctly.

[2018-01-02 13:06] timothy-godfrey commented on #145
@valgit , i wonder if there is a way to test whether the problem is to do with paths being set incorrectly, or the frames not being generated in the first place. What function generates the frames before the flow calculation is called?

[2018-01-02 13:07] valgit commented on #145
@timothy-godfrey  the frame are generated when you create the project, normally at the same time the directory is setup ! this is why it's seem a bug !

[2018-01-02 13:19] timothy-godfrey commented on #145
That's good to know. However, calling slowmoRenderer from the command-line, no project is created. Are the frames just created during the earlier stages of the executable?

[2018-01-17 12:45] dietyyli commented on #138
@metal3d Are you still trying to get this into rpmfusion?

[2018-01-17 12:59] metal3d commented on #138
Yes. It's pending since a couple of weeks....

Le mer. 17 janv. 2018 à 13:45, dietyyli <notifications@github.com> a écrit :

--

P. Ferlet
https://www.metal3d.org

[2018-01-17 13:21] dietyyli commented on #138
Great. Although it looks like nothing is happening https://bugzilla.rpmfusion.org/show_bug.cgi?id=4640

[2018-03-06 01:45] Gabrielisaacgibson opened #147 "Won't open"
Installed using given instructions, saw on desktop, tried to open and nothing happened, it was as if I didn't even click the desktop icon... after a few minutes tried again, still nothing....... everything said "Success" or "OK" on the install. I'm using fedora 27 with 4.1GB ram.

[2018-03-17 13:42] timothy-godfrey commented on #145
It's been a while, but I had another look at my problem. One of the problems I was facing was that I wasn't getting an qDebug output (apparently Fedora and Ubuntu decided to disable it by default). Once I fixed that I started getting useful output in the Debug Window.

It turns out my problem was that slowmoVideo was calling the wrong version of ffmpeg, and the ffmpeg command was failing, hence wh

[2018-03-17 20:25] valgit commented on #145
@timothy-godfrey, as of today, the embedded _ffmpeg_ is only use if you request it, the ffmpeg set in the preference should be use instead (you should have a confirmation in the debug window)

[2018-03-17 20:28] valgit commented on #145
@timothy-godfrey , you should be able to specify your _ffmpeg_ by using these :

on the cmake parameters command line

[2018-03-22 14:25] valgit commented on #147
can you give more detail on your configuration ? what instruction did you follow ?

[2018-03-22 14:30] valgit commented on #145
@timothy-godfrey on my freshly install fedora 27, got it working with :
[code]

then after compilation, at first run it ask me for `ffmpeg` path, which were at `/usr/bin/ffmpeg`

[2018-03-24 23:30] Gabrielisaacgibson commented on #147
I followed these instructions: https://github.com/slowmoVideo/slowmoVideo/wiki/Download#Fedora My screen resolution is 1920x1200 if that helps.

[2018-03-25 08:48] valgit commented on #147
@Gabrielisaacgibson , instructions are a bit old, but should be more or less working ;-)
can you look in your build directory under slowmoUI, if all went well,  you should have a binary which you can laugh from cli. let's try it ! Your resolution should have nothing todo with that.

[2018-04-07 21:08] Odysseus16 opened #148 "Mac OSX high sierra can´t build"
At the moment I try to build slowmoVideo, but I run into the following error:
(I am usung opencv 3.2 and installed all ohter additons with homebrew accorind to your Readmeosx)
[  8%] Building CXX object slowmoVideo/lib/CMakeFiles/sVencode.dir/qtkit.mm.o
In file included from /Users/BW/Downloads/slowmoVideo/src/slowmoVideo/lib/qtkit.mm:9:
/Users/BW/Downloads/slowmoVideo/src/slowmoVideo/lib/qtkit.h:

[2018-04-17 01:39] Slowwwww opened #149 "Error 3"
How can i fix this error I already tried reinstalling ffmepg
![image](https://user-images.githubusercontent.com/38446619/38843767-6c88024c-41a5-11e8-99cf-d1eefc6c0d2c.png)

[2018-04-17 08:09] valgit commented on #149
@Slowwwww could you give more information ? what OS ? version ? can you put the log ?

[2018-04-18 02:27] Slowwwww commented on #149
OK here are all the details you asked for
(sorry I didn't put these in the original post):
Log:
![image](https://user-images.githubusercontent.com/38446619/38908210-1017667c-4274-11e8-8e03-12f7cd25eb14.png)
OS:
![image](https://user-images.githubusercontent.com/38446619/38908253-3b7d1ae6-4274-11e8-9cdd-de3314d3af67.png)
Program Version : I don't know were to find this but I am pretty sure its the

[2018-04-18 04:43] valgit commented on #149
@Slowwwww as I can  see in your log, it seems that your ffmpeg version don't support MPEG-1 codec, what parameters did you set on the export ?
FYI :there is 64 bits  version of ffmpeg for windows, they would be better and more recent. your version seem to be old 32 bits

[2018-04-18 23:17] Slowwwww commented on #149
@valgit I've now try reinstalling ffmeg(64 bit) bit and other video export codecs (mp4 and wvm) all to no avail although export as frames does work.

[2018-04-19 09:44] valgit commented on #149
@Slowwwww what parameters did you set for export and/or preview ? what extension did you give ?

[2018-04-26 07:34] tebicap opened #150 "The rendered video "stops" every so often"
(I hope you understand my english)
There are few frames that are rendered identical, that's why the video "stops" wen you play it.
For example, the frames from 1 to 35 are rendered fine, but frames from 36 to 45 are rendered identical. Then, the next frames are fine until frame 86 and again.. frames from 87 to 96 are identical and then a few fine and then a few identical...

I am in version 0.5-13

[2018-04-29 15:59] Slowwwww commented on #149
@valgit I tried .mp4 .wmv and .mpg

[2018-06-22 13:01] pengc99 opened #151 "slowmoRenderer segfault"
Built the latest from source on a Debian 9 system.

When running `slowmoRenderer --help`, it will segfault:

[code]

Strace output shows it's trying to get a list of CPUs available right before it crashes:

[code]

[2018-06-22 13:02] pengc99 commented on #151
Output of `/sys/devices/system/cpu/online` on my system:

[code]

nothing unusual there

[2018-06-22 13:03] pengc99 commented on #151
Output when trying to render a video, which fails;

[code]

[2018-08-31 07:33] 3pointedit commented on #149
I had the same issue on win7 making .mp4 using ffmpeg 64bit , I swapped to ffmpeg32bit. Same problem. Then I changed Codec to .mpg and it worked. I guess theres an issue with mp4? How can I format ffmpeg args in the name string, do I place them after or before the filename.extension?

[2018-08-31 07:35] 3pointedit commented on #122
Is that ffmpeg arg used at render time or are you performing that after render?

[2018-08-31 08:07] 3pointedit opened #152 "What format is .sVflow cache?"
Can I use oflow .sVflow cache as image? I would like to use the dense vector image in Blender's compositor to drive the Vector Blur node on video footage, creating fast motion blur. How are the .sVflow cache files made, are they animation files or some sort of image sequence? Can I break them out to a frame sequence?

[2018-08-31 08:49] Granjow commented on #152
@3pointedit It is a custom binary format containing the vector field, every pixel has one x/y vector. The format is quite simple and you can use https://github.com/slowmoVideo/slowmoVideo/blob/master/src/slowmoVideo/lib/flowRW_sV.h to read it and to convert it to a different format.

[2018-08-31 09:00] 3pointedit commented on #152
Oh thank you. Is that a command line tool? Ffmpeg args are as smart as i
get I'm afraid.

On Fri, 31 Aug 2018, 6:49 PM Simon A. Eugster <notifications@github.com>
wrote:

[2018-09-01 06:32] Granjow commented on #152
You also have to convert the flow field to the desired output format. It is
fairly easy from a programming perspective when you know the output format.
So anybody with C++ programming skills should be able to do that :)

https://docs.blender.org/manual/en/dev/compositing/types/filter/vector_blur.html
states the input should be an image, but does not further specify how it
should be constructed. Ma

[2018-09-04 09:18] 3pointedit commented on #152
Ok I have found someone who can convert the files, is there an optimal way to perform an analysis pass without the re-render of optical-flow inbetween frames? That is to just produce a vector image. Or at least perform a 100% speed pass, no off speed required?

[2018-09-09 03:21] jmevel opened #153 "Where is slowmoUI.exe ?"
Hello, I just want to download slowmoVideo for windows but I can't find any link for that.

The download page says "For Windows you additionally need to download ffmpeg from Zeranoe (32-bit Builds (Static)) and extract ffmpeg.exe into the same directory as slowmoUI.exe."

And that's pretty much it. I have no idea where to find this slowmoUI.exe file. I don't want to compile the project myself, I j

[2018-09-11 08:42] valgit commented on #153
Hi @jmevel , there is no official windows binaries, but from the [g+ community]((https://plus.google.com/communities/116570263544012246711) you can find a working windows binaries here : [win64 binaries](http://www.mediafire.com/file/23tbebr8aqy1bxc/slomovideo_win64.7z)

[2018-09-11 08:42] #153 closed

[2018-09-12 18:51] #128 closed

[2018-09-22 13:34] atoav opened #154 "slowmoRenderer CLI: <filenamePattern> for -input images not documented"
The help specifies a input as follows: `-input video <path> | images <filenamePattern> <directory> ] `. Is there any way to know how a pattern should look like? I tried all patterns that I know of:
- ####.png (Blender uses this to specify digits)
- \d\d\d\d\.png (Regex)
- %04d.png (ffmpeg)

Is this maybe not implemented?

[2018-09-27 12:15] unxed opened #155 "slowmoRenderer stops unexpectedly"
`Rendering frame number  2905  @ 121.042  from source time  60.5208
Building flow for left frame  1520  to right frame  1521 ; Size:  Original frame
 size
"Could not read image /tmp/slowmoUI-BaZvSQ/frames/orig/frame01522.png"
Flow building error:  "Could not read image /tmp/slowmoUI-BaZvSQ/frames/orig/fra
me01522.png"

Rendering finished.  Time taken: Could not read image /tmp/slowmoUI-BaZvSQ/fram

[2018-09-27 14:56] valgit commented on #155
@unxed did you check that this file /tmp/slowmoUI-BaZvSQ/frames/orig/fra
me01522.png exist ? what is the number of frame in your original video ?

[2018-09-27 15:30] unxed commented on #155
No such file.
It seems like frame extraction stops at  frame01521.png.

Frame extraction log:

[code]

I thought 1522 in "orig/frame01522.png" is the number of "bad" frame in source video. Am I wrong? Or do you mean total number of frames? It's 1579, according to ffmpeg :)

[2018-10-31 15:15] betavr opened #156 "Requesting step-by-step instructions on how to compile the project for Windows"
The compiling for Windows instructions are out of date. Quote:
[code]

- Problem with step 1: The linked opencv fork (https://github.com/Granjow/mxe/tree/opencv) doesn't exist anymore.

- Problem with step 2: Same problem, there is no `replaceOnTime/OpenCVConfig.cmake` file, because we don't have the fork.

- Problem with step 3: This method of using the toolchain file is deprecated, correct comma

[2018-10-31 18:22] valgit commented on #156
@betavr, here some notes from my last attempt, theses notes comes from my own repository
 ([slowmo repo](https://github.com/valgit/slowmoVideo)) where I have successfully compile a native 64 bits windows version, but I can't update them as I have no windows env for now :
**hope, this can help**

* install mingw/msys idealy in 64 bits
* create a dedicated directory `/work/slowlibs`
* download qt4 a

[2018-11-29 11:15] JackDesBwa opened #157 "Does not compile with opencv 4.0.0"
I got into troubles when trying to compile slowmoVideo today (hash 32b1902) with opencv 4.0.0
It seems that API changed.

Here are the errors reported by gcc 8.2.1(it also reports lots of deprecated warnings "warning: dynamic exception specifications are deprecated in C++11"):
[code]

And here is my patch to make it compile, but I do not know if it is the best way to correct it:
[code]

[2019-01-04 13:30] mrred06 commented on #156
Hi thx but I cannot find the .exe in the archive? can you please upload, thx alot !

[2019-01-04 14:51] betavr commented on #156
@mrred06 There are 7 exe files in the zip file. The problem is on your end.

[2019-01-10 15:10] dawidgdanski opened #158 "Slowmorenderer not transforming the input images sequence"
Hey there,

I am using SlowmoVideo to transform input images sequence in order to obtain output sequence with the intermediate images presenting smooth transition between the input images.

I managed to achieve the desirable effect using SlowmoUI application. My timeline configuration simply consists of 2 nodes attached to both ends of the sequence and the [shutter function that I found in the doc

[2019-01-10 16:26] valgit commented on #158
hi @dawidgdanski , if I remember correctly, when using the CLI you cannot only have images as output, but I am no sure of that.
secondly, how many images do you have in input ? as from your log, there seems to be only one !
maybe incorrect detection ? can you give the full log !

[2019-01-10 23:18] dawidgdanski commented on #158
Hi @valgit, thanks for the prompt response. I am answering the questions one by one:

- `how many images do you have in input ?` - I have 8 input images. I guess that only one image is recognized due to the `%1` wildcard in the filenames. How can I indicate several input files without the wildcard then?

- `maybe incorrect detection ?`  - I am wondering if it's my command that is wrong or the `slo

[2019-01-11 14:40] dawidgdanski commented on #158
Hi @valgit , I managed to generate output images sequence with video file in the input, I used different tools to transform the output sequence into desirable format.

The only question remaining at this point is whether or not there is a possibility to apply custom shutter function somewhere within the command.
I want to achieve the simplest blurring effect used thanks to the shutter function des

[2019-01-12 12:59] valgit commented on #158
@dawidgdanski , for now the only way I see is to create a project with the GUI using the function, then use this project in command line

[2019-01-27 21:21] huntyhunty opened #159 "Rendering problem"
So i open the program, import my video, create the nodes and then hit the render button. I wait for it to render and when i go to the file i open the rendered video and it's around 8 mb and there are no frames in the video when i hit play it just starts and stops.

[2019-01-30 18:58] jonecky816739 commented on #156
@valgit, any chance you could upload full compiled latest Windows 64-bit build somewhere ? @mrred06 uploaded 32-bit version but I'd love to test 64-bit version instead.

[2019-02-03 10:30] albertosottile opened #160 "Flow building error: version '330' is not supported"
I just compiled slowmoVideo on macOS 10.13.6 an I attempted to slow down 2x using this command:
`./slowmoRenderer -target video ~/test_out.mp4 auto -input video ~/test_in.mp4 -slowfactor .5 -start :start -end :end -interpolation twoway2 -size orig`

However, flow builder fails with this error, falling back to the (very slow) openCL engine:
[code]

[2019-02-03 12:36] Granjow commented on #160
This is the OpenGL version, and it looks like your GPU (or your driver) does not support 3.3. It should support 4.6 though with [this driver](https://developer.nvidia.com/opengl-driver) which is backwards compatible to all versions. Maybe a driver issue.

[2019-02-03 14:50] albertosottile commented on #160
According to [OpenGL Extension Viewer](url
https://itunes.apple.com/us/app/opengl-extensions-viewer/id444052073?mt=12) my GPU supports OpenGL 4.1 (4.1 NVIDIA-10.33.0 387.10.10.10.40.105). According to
https://stackoverflow.com/questions/21526662/opengl-3-3-on-osx-with-freeglut
some code modifications are needed to run newer contexts on macOS though.

[2019-02-04 04:47] betavr commented on #156
@jonecky816739 here you go: https://www.mediafire.com/file/5ga63dhhbm1hzps/slowmoVideo-master-32b1902-win-64bit.zip/file

[2019-02-11 10:56] valgit commented on #160
@albertosottile the OpenGL code si very old and difficult to modify/maintain that's why I've create the OpenCV - OpenCL/GPU version but here also, this is not as stable as I've hope and OpenCV GPU is also difficult to understand !

[2019-02-18 09:26] alexmyczko commented on #157
I would like to know if that patch is good? I've got: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=922598

[2019-02-18 09:48] JackDesBwa commented on #157
My "do not know if it is the best way to correct it" means "not sure it is the most elegant way".
It works on my Archlinux system. I do not use this software much, but the optical flow created with the DualTVL1 method looks normal. By the way, it is just a one-to-one translation.

[2019-02-18 12:40] valgit commented on #157
@JackDesBwa , not tested but in looking at your diff seems good to me

[2019-03-22 18:39] allegfede opened #161 "terminate called after throwing an instance of 'std::bad_alloc'"
trying this command (1440x1080 panasonic HDV file) to speed up a clip (but also slowing down had the same issue):

slowmoRenderer -target video ./test.mp4 auto -input video ../00107.MTS -slowfactor 10 -start :start -end :end -interpolation twoway2 -size orig

Standalone Rendering.
  target dir   QDir( "/tmp/rendered" , nameFilters = { * },  QDir::SortFlags( Name | IgnoreCase ) , QDir::Filters( Dir

[2019-03-23 08:23] valgit commented on #161
Could you try with OpenCL disable ?

[2019-03-23 13:11] allegfede commented on #161
I'll try Monday morning. Thanks.

Il sab 23 mar 2019, 09:23 valgit <notifications@github.com> ha scritto:

[2019-06-23 15:31] ulatekh opened #162 "Am I doing this right? (very slow)"
I apologize for making this an "issue", but it was the only forum I could find.

I'm trying to use slowmoVideo to generate a 3x-slowdown version of an input clip. I don't need the variable-speed features of the GUI, so I'm using the command-line version. I'm building latest git under Fedora Core 29. My command is:

slowmoRenderer -target video "output.mkv" auto -input video "input.mkv" -slowfactor

[2019-06-23 17:38] valgit commented on #162
Hi @ulatekh ,
from what you said, I would bet foran GPU bug.
did you enable the GPU OpenCv code ? if so, could you disbale it for testing ?

[2019-06-23 21:13] ulatekh commented on #162
I didn't do anything in particular to enable the GPU OpenCV code. From reading around (e.g. https://github.com/opencv/opencv/issues/9852), I can apparently disable OpenCL's runtime by setting environment variables (i.e. export OPENCV_OPENCL_RUNTIME=null and export OPENCV_OPENCL_DEVICE=disabled), and slowmoRenderer did output "Failed to load OpenCL runtime", but it's still stuck in cv::FarnebackPre

[2019-06-23 22:43] ulatekh commented on #162
I went through the trouble of building an OpenCV without GPU support (i.e. -D WITH_OPENCL=OFF and, out of paranoia, -DWITH_CUDA=OFF). Now it's stuck in cv::calcOpticalFlowFarneback(), which was 2 stack frames above cv::FarnebackPrepareGaussian() in the previous run.

[2019-06-25 07:16] valgit commented on #162
@ulatekh when I said to disable the usage of GPU for OpenCV, it was in the preferences of the app. not : from memories, you can only do that on the GUI version but it's loaded by the CLI also.
can you try ?

[2019-06-25 14:54] ulatekh commented on #162
I managed to get the GUI to (mostly) run to completion...although there were some other issues. The documentation (i.e. https://github.com/slowmoVideo/slowmoVideo/wiki/Documentation) doesn't actually say how to add a node (or what the difference between the arrow-icon and circle-icon in the upper-right is). Also, without a horizontal scroll bar, there's no way to create a slowed-down video that's

[2019-06-30 10:59] metal3d commented on #120
In my case, now flowBuilder executable found...

[2019-10-06 17:29] nsitu commented on #151
I can confirm I have the same issue:

slowmoRenderer --help
slowmoRenderer for slowmoVideo v0.5-136-g6ed913b
slowmoRenderer [<project>]
        -target [video <path> [<codec>|auto] | images <filenamePattern> <directory> ]
        -input video <path> | images <filenamePattern> <directory> ]
        -size [small|orig]
        -fps <fps>
        -start <startTime> -end <endTime>
        -interpolatio

[2019-11-23 07:49] LukasKysela opened #163 "Repeatedly video in one rendered file"
Hello. On the curve I select the whole video and if I leave the video rendered in the video shows video 3x-6x in a repeatedly in one file / video. I do not want to. How can I fix the problem? This is running on Windows.

[2019-11-29 18:59] agoose77 commented on #130
Ugh this got me too!

I was rendering out some footage yesterday, and running slowmoUI ended up deleting the entire project folder, which was my user directory. Consequently I lost three days of footage (I since have learned my lesson about rigorous backup separation)! I suspect this is not intended behaviour, and I feel like I saw a bug report about it somewhere, though I cannot see it in the lis

[2019-12-09 15:50] HJarausch opened #164 "slowmoVideo doesn't compile with opencv-4.1.2"
There are problems with (e.g.)
src/slowmoVideo/project/flowSourceOpenCV_sV.cpp:264:15:
error: 'class cv::DenseOpticalFlow' has no member named 'set'
  264 |         tvl1->set("lambda", lambda);

(On Gentoo Linux with opencv-4.1.2 installed)

[2020-01-27 11:22] alexmyczko commented on #164
there's a patch for that? https://github.com/slowmoVideo/slowmoVideo/issues/157

[2020-02-04 11:38] 3bl3gamer opened #165 "slowmoRenderer hangs after first frame"
I tried to make 60fps video from 30fps one with exactly same duration (so 1/2 of resulting frames will be generated). `slowmoUI` works but it's very hard to set second point precisely. And otherwise output duration will be a bit different, almost all frames will be generated and output video will be a bit more blurry.

So I tried `slowmoRenderer` as commented in #62:
`slowmoRenderer -target video

[2020-04-04 22:53] #162 closed

[2020-04-04 22:55] ulatekh commented on #165
As noted in #162, the command-line version seems to be broken, but the GUI version is fine.

[2020-04-04 22:57] ulatekh commented on #163
You may want to try to explain that again. I'm a native English speaker, and I have no idea what you're saying.

[2020-04-04 22:58] ulatekh commented on #161
Also, as noted in #162, the command-line version seems to be broken. Try doing the same thing with the GUI version.

[2020-04-04 23:00] ulatekh commented on #158
As noted in #162, the command-line version seems to be broken. Use the GUI instead.

[2020-04-04 23:03] ulatekh commented on #155
As noted in #162, the command-line version seems to be broken. Use the GUI version.

[2020-04-04 23:05] ulatekh commented on #151
As noted in #162, the command-line version seems to be broken. Use the GUI version.

[2020-04-04 23:05] ulatekh commented on #150
That URL appears to no longer be valid.

[2020-04-04 23:08] ulatekh commented on #148
Sounds like you need to install Qt?

[2020-04-04 23:15] #120 closed

[2020-04-04 23:20] ulatekh commented on #119
Although it'd be a bit laborious, I think you could do this with discontinuous references to input frames. Across each duplicated frame, you'd have a node with the same x-coordinate (i.e. output frame), but y-coordinates (i.e. input frames) that skip the duplicated frame.

[2020-04-04 23:22] ulatekh commented on #100
#156 has a link to a more recent Windows build.

[2020-04-05 13:44] Granjow opened #166 "Split V3D renderer to separate repository"
* Create a separate repository for V3D renderer
* Probably create a separate repository for sV libraries referenced by the renderer
* Put the CMakeLists.txt files to the project root for both the renderer and sV

[2020-04-05 13:51] Granjow opened #167 "Fix C++11 warnings"
When compiling, gcc throws a lot of C++11 deprecation warnings. Fix them.

[2020-04-05 14:01] Granjow opened #168 "Do not purge others’ homes"
Fix the very unkind behaviour by using a better way of handling cached data and checking if the directory is empty etc. as happened in #130

[2020-04-05 14:05] Granjow opened #169 "Improve caching mechanism"
* Define a maximum number of frames (raw and flow) to hold in memory
* Create a caching layer with different caching back-ends (raw .sVflow, compressed, …)

[2020-04-05 14:07] Granjow opened #170 "Build slowmoVideo for Windows"
* Find a way to compile slowmoVideo for Windows. Either with [mxe][https://github.com/mxe/mxe] on Linux, or directly on Windows.
* Release a new Windows executable
* Document how to build slowmoVideo for Windows.

[2020-04-05 14:08] Granjow opened #171 "Add CI with GitHub Actions"
Automatically test and build slowmoVideo on every commit.

This should be done after #166.

[2020-04-05 14:10] Granjow opened #172 "Use slowmoVideoWeb again"
* Automatically build and publish the web site on new commits to master
* Updated content again goes to slowmoVideo.granjow.net
* No more PHP!

[2020-04-05 14:13] Granjow opened #173 "Create re-usable slow-motion library"
In order to use slow-motion also in other projects, extract a library which could be used by video editors like [Kdenlive](http://kdenlive.org) for slow-motion effects.

This first needs some coordination with interested projects, for example [mlt](https://github.com/mltframework/mlt), which would use the library.

[2020-04-05 14:16] Granjow opened #174 "Use an argument parser for parsing arguments"
… and let the help be auto-generated

[2020-04-05 14:25] Granjow opened #175 "Support accurate editing"
Example: When rendering a segment at exactly 50 % speed, it is desirable to re-calculate exactly the middle frame (i.e. frames 0, 0.5, 1, 1.5 etc.) and not have an offset which would render every single frame (e.g. 0.1, 0.6, 1.1, 1.6, …).

* Provide more obvious option to set the target FPS
* Allow nodes to snap in on input and output frames (i.e. a grid)
* Speed can already be user-defined by rig

[2020-04-05 14:26] Granjow opened #176 "Retry when a flow file cannot be read"
Do not crash as in #47, but instead remove the bad flow file and generate it again.

[2020-04-05 14:29] Granjow opened #177 "Play preview in the timeline"
Add a play button to simulate the video speed. Options:

* A dot follows the curve (one output second per second)
* Visualise video speed e.g. with an animated wall clock where the pendulum swings once per second
  * Or something nicer!

[2020-04-05 14:30] Granjow opened #178 "Show help overlay by default in the timeline"
Easiest way of helping new users because they would probably not open the help menu anyway.

[2020-04-05 14:35] Granjow commented on #1
This is already happening, but only if you drag the point on the correct half of the square (left half for the left segment, right half for the right segment).

Instead, it should show the output speed of both left and right segment as the current behaviour is a bit funny.

[2020-04-05 14:41] Granjow commented on #47
I assume this refers to image sequences as output.

The basic functionality (only render a frame if it does not exist yet) is easy to implement. The user would then be responsible for managing the files in case the curve is changed.

[2020-04-05 14:50] Granjow commented on #118
(For storing original frames extracted from the source video)

[2020-04-05 14:53] Granjow commented on #119
which is probably impossible because there is no way of knowing if frames are really identical or not (usually there are still small numerical differences due to the encoding) and we are again generating optical flow for nothing :)

I like the idea, but cannot see it in reality.

[2020-04-05 14:56] ulatekh commented on #173
There are existing plugins like [frei0r](https://en.wikipedia.org/wiki/Frei0r) that work with kdenlive. Perhaps that'll show how to make slowmoVideo a plugin?

[2020-04-05 15:00] ulatekh commented on #175
I would like an option to edit a node's properties using textboxes. I end up writing most of my .sVproj files in a text editor anyway.

Also, being able to add a text comment to the x & y coordinates (e.g. what each one means, externally) would be nice. I do that when hand-editing, also.

[2020-04-05 16:32] m93a commented on #119
Ok, thank you for your comments, now I see why it's not feasible to implement. I'll close this issue then?

[2020-04-05 16:32] #119 closed

[2020-04-06 07:44] #100 closed

[2020-04-06 19:21] Granjow commented on #119
Yes. I think what is actually needed is a nice way of integrating slowmoVideo into video editing applications and consider audio as well.

[2020-04-06 19:23] Granjow commented on #173
Yes, I have contributed to frei0r as well. The thing is that usually plugins work like this: You give it a frame and it returns a modified frame. Slow motion with curves is quite different as it decides on its own which frame it needs.

Natron looks interesting! Will have a look.

[2020-04-07 04:29] Granjow commented on #175
How do you know the correct values for the node? Do you check first which frame you want to target?

There are labels already for the y axis – are those what you need?

[2020-04-07 23:04] ulatekh commented on #175
There is? I didn't see anything relevant in Node_sV.

In my case, my x-axis was the times of audio syllables from the replacement soundtrack, and the y-axis was the times of the various phases of lip movements from the original video, for a "not-so-deep face" effect. If I didn't add some text comments to the XML files on the x/y coordinates, I would have gotten completely lost! You can see the seg

[2020-04-10 12:14] Granjow opened #179 "Discussion: Future of slowmoVideo"
@valgit @grota @ulatekh @mgo80 @Eliasvan @fishpepper @d-j-a-y @viktorsmari @pmo-19 @new-life @metal3d @habi @Ichthyostega  You (and others) have been contributing to slowmoVideo, so I would like to give you a short update.

### What is this about?

I intend to revive slowmoVideo. I somehow expected other open source slow motion tools would be around after that many years, but there are none. (Corr

[2020-04-10 12:15] Granjow opened #180 "Provide slowmoVideo in packaged format (AppImage, Snap, Flatpak)"
Provide a binary packaged format of slowmoVideo, e.g. AppImage, Snap (see #99), or Flatpak.

See also:
* [Flatpak, Appimage And Snap – How Do They Stack?](https://www.fossmint.com/flatpak-appimage-and-snap-how-do-they-stack/)

[2020-04-10 20:52] Granjow commented on #172
Completed with https://github.com/slowmoVideo/slowmoVideoWeb/commit/9b4cd5178ff04509cb5da8af4cbcdc5ab983943c

CI is done over GitLab.

[2020-04-10 20:52] #172 closed

[2020-04-10 21:45] Granjow opened #181 "Reduce number of binaries"
Currently, there are:

* slowmoCLI
* slowmoFlowEdit
* slowmoInfo
* slowmoRenderer
* slowmoUI

Combine them all in one `slowmoVideo` binary which can do all the things.

[2020-04-10 22:31] #166 closed

[2020-04-10 22:38] #178 closed

[2020-04-11 09:02] Granjow commented on #175
You can add markers on both axes with the `t-t` shortcut. A bit hard to find, the UI needs some improvements. They should help in your case, I think?

[2020-04-11 13:39] #167 closed

[2020-04-11 18:34] Granjow opened #182 "Make LogBrowser optional"
When exiting slowmoVideo:

![image](https://user-images.githubusercontent.com/305622/79052013-d8c22580-7c33-11ea-9a84-ad6b80a65dc7.png)

This is annoying and should go away by default.

[2020-04-11 21:32] #182 closed

[2020-04-13 14:28] alexmyczko commented on #179
Which video editing applications did you had in mind? May I recommend some:

https://www.openshot.org/
https://jliljebl.github.io/flowblade/
https://shotcut.org/
https://www.olivevideoeditor.org/

[2020-04-13 15:06] ulatekh commented on #179
Those are all real-time video editors...I figured a non-real-time compositing editor, like Natron, would be more appropriate.

Also, it seems that slowmoVideo would benefit from an optical-flow algorithm capable of expressing that there's no prior-frame analog for a current-frame pixel. None of the optical-flow algorithms in use by slowmoVideo seem to account for that possibility.

[2020-04-13 20:52] Granjow commented on #179
@alexmyczko I would primarily target Kdenlive because I have been contributing there as well. However, it will be located at a lower level like in MLT. See also #173.

@ulatekh Is Natron still in development? I have to play around with it first in order to understand it. Current video editors use optical flow based algorithms as well, however only with static speed changes (e.g. change the clip sp

[2020-04-15 07:46] treborxy opened #183 "compiling fails"
Hello,
when trying to compile the latest source (as from 2020-04-14)  I get an error saying "recipe for target 'src/lib/CMakeFiles/sVencode.dir/ffmpeg_writer.cpp.o' failed". Could you please give me a hint what I'm doing wrong?

Output is as follows:

`
robert@Reaktor:~/github/slowmoVideo/build$ make
Scanning dependencies of target sVflow_autogen
[  1%] Automatic MOC, UIC and RCC for target sVflow

[2020-04-16 20:41] Granjow commented on #183
@treborxy Yes, after adding the version tag, CMake failed. Fixed!

[2020-04-16 20:42] #183 closed

[2020-04-18 08:30] #180 closed

[2020-04-18 08:31] Granjow commented on #99
@iqqmuT slowmoVideo is now available as AppImage. I will close this issue as it should be just as good as Snap (correct me if I am wrong) :)

[2020-04-18 08:31] #99 closed

[2020-04-18 09:31] #130 closed

[2020-04-18 09:31] #168 closed

[2020-04-18 09:38] Granjow commented on #159
@huntyhunty Can you try again with the current AppImage release?

[2020-04-18 09:40] Granjow commented on #164
Closing as duplicate of #157

[2020-04-18 09:40] #164 closed

[2020-04-18 09:43] Granjow commented on #144
This should be fixed with the current AppImage release.

[2020-04-18 09:43] #144 closed

[2020-04-18 09:45] Granjow commented on #150
@tebicap Could you provide an example project and input file for that?

[2020-04-18 09:46] Granjow commented on #141
Available for 16.04 now with the AppImage.

[2020-04-18 09:46] #141 closed

[2020-04-18 09:49] Granjow commented on #138
Qt4 dependencies have been removed. Also, the AppImage should work on Fedora. Can you confirm @metal3d?

[2020-04-18 09:50] Granjow commented on #129
No reply, closing. Please re-open if you can still reproduce.

[2020-04-18 09:50] #129 closed

[2020-04-18 10:02] Granjow commented on #126
Removed the outdated information, instructions are now directly in the repository.

[2020-04-18 10:02] #126 closed

[2020-04-18 10:09] #114 closed

[2020-04-19 09:11] treborxy commented on #183
Hello Granjow,
Thanks for that! 'make' now runs without error.
But then? (Sorry for being a beginner and stealing your time)
Maybe you could append the line
`sudo make install` ...

[2020-04-19 18:59] Granjow commented on #183
You can run `src/slowmoUI/slowmoUI`.

This will become a bit clearer with #181.

[2020-04-24 20:54] Eliasvan commented on #179
Hi Simon,

To answer your questions:

At a first glance, yes, but I have one suggestion for an extra feature that
I would find very useful:
When I use slowmoVideo, I tend to make videos with at least 10x slowdown,
and on average CPU utilization is low because the interpolation tasks don't
seem to be running in parallel.
If slowmoVideo would allow running interpolation jobs in parallel, I can
imagi

[2020-04-24 21:33] Granjow opened #184 "Make rendering multi-threaded"
As mentioned in #179, currently there is only one rendering thread.

Make rendering multi-threading to speed up the process where flow calculation is not the bottleneck (e.g. because it has already been calculated, or because more than one intermediate frame is calculated between two full frames).

[2020-04-30 01:06] ulatekh commented on #179
While looking into optical-flow algorithms today, I found a number of projects similar to slowmoVideo:

- ffmpeg's [minterpolate](https://superuser.com/questions/1005315/) filter
- [butterflow](https://github.com/dthpham/butterflow)
- [Super-SloMo](https://github.com/avinashpaliwal/Super-SloMo) (uses tensorflow)

[2020-04-30 14:14] ulatekh commented on #119
Have you tried ffmpeg's [mpdecimate](https://stackoverflow.com/questions/37088517/) filter?

[2020-04-30 17:22] Ichthyostega commented on #179
Am 13.04.20 um 22:52 schrieb Simon A. Eugster:

Yes, the Natron project is alive and kicking.
They had to face a difficult situation after the initial funding did not
continue, and one of the original authors works on different (commercial)
projects meanwhile.

Its a shame that Natron is not very well known in the opensource community.
This is probably due to the fact that Natron is clearly intend

[2020-05-05 07:45] d-j-a-y commented on #179
Nice to heard some news of the project!

Having some interest in realtime video compositing, using the venerable [veejay](https://github.com/c0ntrol/veejay/), i'll be happy having slowmovideo as a **[freiOr](https://github.com/dyne/frei0r) compatible plugin**!

As a frei0r plugin, smv would have an interface for various linux video tools.

Finally, from veejay POV, frie0r plugin is not an absolute

[2020-05-13 13:21] ulatekh opened #185 "Transparent interpolate?"
I have images with transparent backgrounds on which I'm trying to do motion interpolation. I looked at the code, and thought I made all the necessary changes, but apparently I'm missing something.

My work can be found at https://github.com/ulatekh/slowmoVideo/tree/transparent_interpolate . (The change to src/lib/ffmpeg_writer.cpp is just a hack; once the feature is working, I'll make all the litt

[2020-05-16 07:05] Granjow opened #186 "Drop support for OpenCV 2.0"

[2020-05-16 08:02] #157 closed

[2020-05-16 08:26] Granjow commented on #85
Fixed in https://github.com/slowmoVideo/slowmoVideo/commit/2a743063e38af6b4c747064243fc1f9b431d8c0e

[2020-05-16 08:26] #85 closed

[2020-05-16 11:58] probonopd opened #187 ".DirIcon is missing in the AppImage"
Thanks for making an AppImage. However, it is missing the `.DirIcon` file. How was this AppImage created?

Reference:
https://github.com/AppImage/appimage.github.io/pull/2015

[2020-05-21 13:58] sonigfr opened #188 "Better color depth support"
Hi, when importing a 10 bit color depth video, output is at 8 loosing the original color depth quality.

I can confirm when importing 10 bit video files, png image files sequence generation respects the color depth of the original file. When importing an 8 bit video file, png files are at 8 bit, when importing 10 bit or more, png files pass at 16 bit, the maximum color depth per channel a png file

[2020-05-21 15:33] Granjow commented on #188
Thanks for the feature request, makes completely sense. Would you happen to have a small sample video that can be used for testing?

[2020-05-22 14:07] ulatekh commented on #185
So far, I've determined that OpenCV optical flow apparently doesn't support transparent pixels, e.g. Farneback takes greyscale images as input. Also, I'm having pretty good results using the Deformations->Morph[interactive] filter in GIMP's G'MIC plugin.

[2020-05-30 14:02] Granjow commented on #187
@probonopd Sorry it took a while. I have now added a Dockerfile and if you run the container, it will by default generate an AppImage.

Is this already enough information for you to find the `.DirIcon` issue?

[2020-06-02 18:54] sonigfr commented on #188
Hi Granjow, thank you for your reply. Yes with pleasure, I can't give personal videos because they mostly come from commercial projects under specific licenses but you can find pretty lot of 10 bit+ samples on the internet these days, mostly from camera builder companies.

Here is an 10 bit file encoded in h265 :
https://filetransfer.io/data-package/boQ9Qc0G

Here a 12 bit file encoded in prores :

[2020-06-03 06:23] probonopd commented on #187
Hi, I just tried to build 1:1 following the `linuxdeployqt` [instructions](https://github.com/probonopd/linuxdeployqt#using-linuxdeployqt-with-travis-ci), but the build fails because git wants to pull stuff from repositories under my username that don't exist... could you fix the submodules to the slowmoVideo please?

https://travis-ci.com/github/probonopd/slowmoVideo/builds/169363926#L21-L62

Tha

[2020-09-09 14:47] Granjow commented on #187
@probonopd Did the above commit help?

[2020-09-10 20:17] probonopd commented on #187
@Granjow I don't know. Is there a new AppImage available for download that I could run through the test?

[2020-09-11 04:15] peanutbutterandcrackers opened #189 "Multiple .sVproj files in the same directory over-write each other's assets"
Hey there!

First of all, thank you for `slowmovideo`. This is awesome. And you are awesome.

I'm currently using v0.6 of the software. And just now, I was trying to make a series of slowmovideos out of a few footage. And I tried to make all projects within a `Videos/slowmos` directory. But I can see that they over-write each others contents.

Perhaps this could be fixed by using a separate sub-di

[2020-09-11 04:46] peanutbutterandcrackers commented on #189
Oh, and also, the file I was just rendering - the rendered file contains the frames from the previous project in the same directory. (The newer project was smaller than the previous one. So I figure it over-wrote the first N frames but the remaining frames from the previous video got stitched into the video.)

[2020-09-16 14:08] Granjow commented on #189
Hi @peanutbutterandcrackers ! Project directory requirements are a bit unclear and it needs redesign. At the moment, it is supposed that you have a separate directory for every project exactly for the reason you just observed.

This could be fixed by assigning every new project a unique ID and storing cached files in `cache/{id}/files`, for example.

[2020-09-16 14:10] Granjow commented on #187
@probonopd It should fix the issue you had on 3rd of July. I do not have enough information to fix the DirIcon issue myself unfortunately :)

[2020-09-16 16:13] peanutbutterandcrackers commented on #189
Hey there, Mr. Granjow,

Thank you for taking the time to reply. And thank you for considering this for the next version.

Here's something that you might like: [I've packaged slowmovideo](https://github.com/peanutbutterandcrackers/guix-packages/blob/master/slowmovideo.scm) in [Gnu Guix](https://guix.gnu.org/) for my personal use in [my own channel](https://github.com/peanutbutterandcrackers/guix-

[2020-12-30 17:02] luca76 opened #190 "where is the slowmoFlowEdit in AppImage?"
I would use SlowMoFlowEdit. Should I compile it?

[2020-12-30 20:52] Granjow commented on #190
Hi @luca76 , yes, you have to compile it, it is not included in the AppImage.

[2021-03-04 08:09] alexmyczko opened #191 "build problem with gcc 11?"
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=984337

[2021-03-27 16:02] esox13 opened #192 "Issue building for OSX Big Sur"
I tried to compile Slowmovideo for OSX Big Sur (on a Hackintosh running well) and I have an error returned by cmake :

`CMake Error at src/lib/CMakeLists.txt:67 (qt5_use_modules):
  Unknown CMake command "qt5_use_modules".

-- Configuring incomplete, errors occurred!
See also "/Users/jean-martin/slowmoVideo-master/build/CMakeFiles/CMakeOutput.log".
See also "/Users/jean-martin/slowmoVideo-master/b

[2021-04-21 19:59] evertvorster opened #193 "OpenCV + OpenCL is greyed out when they are installed."
Hi there!
It's been many years since I have played with this software, and I am glad to see that you still tinker with it from time to time.
On Arch Linux, slowmovideo does not seem to detect OpenCL, even though it's installed. (The menu selection for this is greyed out)
clinfo returns 1 platform with nVidia CUDA. (and a very long list of supported stuff)
OpenCV is at version 4.5.2

Is OpenCV + Op

[2021-09-24 08:24] DFyson opened #194 "Crashes after running second time from CLI"
Installing `slowmovideo` and running the `slowmoRenderer` command from the CLI worked fine the first time, eg:
`slowmoRenderer -target video "timelapse slow.mp4" auto -input video "timelapse.mp4" -slowfactor .2 -start :start -end :end -interpolation twoway2 -size orig`
[code]
However running a second time resulted in it cashing. The parameters when initializing had changed to nonsensical values:
[

[2021-12-18 05:12] jprobichaud commented on #192
adding a "me too" here.  Trying to compile it on Pop_OS and I'm hitting this problem as well

[2022-01-07 12:06] #191 closed

[2022-02-05 00:00] otofoto opened #195 "Show motion vectors"
Would like an option to show optical flow motion vectors as overlay on video.

[2022-03-28 16:34] schranzonator commented on #193
Yes and can it use more than 1 cpu? It renders forever with just 15% processor usage ^^

[2022-04-25 14:52] pangoo-reuse opened #196 "support android?"
the lib can support android?

[2022-04-29 14:35] pangoo-reuse opened #197 "suggest"
sugget make common libs, like input params is Qstring ,replace it with std:string,and  render logic write with c++,and so on.thx

[2022-05-01 07:00] schymans opened #198 "Is it possible to include audio in rendered file?"
This project is amazing, thanks for sharing it. I just noticed that there is no audio in my rendered videos, and I haven't found the word "audio" or "sound" in the documentation or issues. I was slowing down part of a table tennis video, and if I do it in VLC, the sound is still played, i.e. you can hear when the ball hits the rockets or the table, which is very helpful. However, if I do it using

[2022-05-01 08:42] Granjow commented on #198
Hi @schymans , yes, there is no audio because audio is processed in a different way. There is e.g. [paulstretch](http://hypermammut.sourceforge.net/paulstretch/) which is like slowmoVideo for audio. I once considered using it, but did not find time for it.

[2022-06-07 05:27] kishorpatel82 opened #199 "command line render without project file is not working"
I tried command as described in http://slowmovideo.granjow.net/docs.html and also checked source code at [rendererMain.cpp](https://github.com/slowmoVideo/slowmoVideo/blob/master/src/slowmoRenderer/rendererMain.cpp) to understand command line options but getting following error no-matter what  I try.  Am I missing anything ?

C:\software\slowmoVideo>slowmoRenderer -input video C:\software\test_fas

[2022-06-09 10:05] muelli opened #200 "compilation fails due to patch level extraction getting a string ("v0.6") rather than a number "0""
[code]

I let flatpak clone https://github.com/slowmoVideo/slowmoVideo.git with tag v0.6 and commit 08536c2e7887e3bf12973994f0365716528c7f16

It looks like the procedure for extracting the patch level is faulty: https://github.com/slowmoVideo/slowmoVideo/blob/279026ad91e034e49c712e8b7a02b3e109f1af2d/CMakeLists.txt#L23

[2022-06-21 11:35] muelli opened #201 "ship appdata file"
I'm targetting a release on Flathub and It'd be nice if an appdata file could be maintained upstream. Here's an attempt:

[code]

[2022-06-22 14:11] Granjow commented on #201
Hi @muelli , could you submit a PR for this change? (Please re-indent the file beforehand :))

Thanks!

[2022-06-23 08:30] muelli commented on #201
No, sorry, I don't have the skills to do that.

[2022-09-18 11:32] PanderMusubi opened #202 "symbol lookup error on Ubuntu 22.04"
On Unbuntu 22.04 the following error occurs for version 0.6

    ./slowmoUI-0.6-x86_64.AppImage: symbol lookup error: /lib/x86_64-linux-gnu/libgio-2.0.so.0: undefined symbol: g_module_open_full

[2022-09-18 14:55] PanderMusubi opened #203 "Drop qt5-default"
Drop qt5-default dependency for Ubuntu 22.04, package is not available.

See https://github.com/slowmoVideo/slowmoVideo/blame/master/README.md#L16

[2022-10-12 21:31] Granjow opened #204 "Migrate to Qt6"

[2022-10-12 21:31] Granjow opened #205 "Update to latest ffmpeg"

[2022-10-12 21:39] Granjow opened #206 "slowmoVideo maintenance state"
Hi everybody,

you may have noticed that after #179 (or, after the Lockdown ended in Switzerland) development on slowmoVideo stopped again.

Currently I'm lacking both time and motivation to work on a project I personally don't use – family and local projects have priority. There is a plan for future development ([check the milestones](https://github.com/slowmoVideo/slowmoVideo/milestones)), but w

[2022-10-12 21:42] Granjow commented on #190
(In a future version, the flow editor should probably be integrated into the main executable.)

[2022-10-23 22:46] jhite1234 commented on #202
I have the same issue on 22.04.
$ ./slowmoUI-0.6-x86_64.AppImage
slowmoUI-0.6-x86_64.AppImage: symbol lookup error: /lib/x86_64-linux-gnu/libgio-2.0.so.0: undefined symbol: g_module_open_full

[2022-10-24 13:25] Granjow commented on #202
Fixed in https://github.com/slowmoVideo/slowmoVideo/releases/tag/v0.6.1, thanks for reporting!

[2022-10-24 13:25] #202 closed

[2022-10-26 09:24] PanderMusubi commented on #202
@Granjow can you also update the release in flatpak to 0.6.1? Thanks

[2022-11-11 09:44] PeterPedro opened #207 "Command for image sequence"
Hello, so it's working great with videos but when I try to interpolate additional frames in a sequence of images it doesn't seem to work, it could be me not understanding the command line but this is what I noticed, according to the documentation page [http://slowmovideo.granjow.net/docs.html](http://slowmovideo.granjow.net/docs.html) the command should be:

`> /usr/local/bin/slowmoRenderer -targe

[2022-11-19 23:04] nbenitez commented on #198
Just to note that paulstretch is in flathub:
https://flathub.org/apps/details/net.sourceforge.paulstretch

Same as slowmoVideo:
https://flathub.org/apps/details/net.granjow.slowmovideo